# This is Jeopardy!

I have been provided an unmodified csv file containing data about the game show _Jeopardy!_ in a file named `jeopardy.csv`.

In [1]:
import pandas as pd
pd.set_option('display.max_colwidth', None) # Displays the full column name when printing
all_data = pd.read_csv('jeopardy.csv')
print(all_data.columns)

Index(['Show Number', ' Air Date', ' Round', ' Category', ' Value',
       ' Question', ' Answer'],
      dtype='object')

The column names are not named cleanly, so I choose to fix this now.

In [2]:
all_data.columns=['Show Number', 'Air Date', 'Round', 'Category', 'Value', 'Question', 'Answer']
print(all_data.columns)

Index(['Show Number', 'Air Date', 'Round', 'Category', 'Value', 'Question',
       'Answer'],
      dtype='object')

In [3]:
all_data

,Show Number,Air Date,Round,Category,Value,Question,Answer
0,4680,2004-12-31,Jeopardy!,HISTORY,$200,"For the last 8 years of his life, Galileo was under house arrest for espousing this man's theory",Copernicus
1,4680,2004-12-31,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,$200,"No. 2: 1912 Olympian; football star at Carlisle Indian School; 6 MLB seasons with the Reds, Giants & Braves",Jim Thorpe
2,4680,2004-12-31,Jeopardy!,EVERYBODY TALKS ABOUT IT...,$200,"The city of Yuma in this state has a record average of 4,055 hours of sunshine each year",Arizona
3,4680,2004-12-31,Jeopardy!,THE COMPANY LINE,$200,"In 1963, live on ""The Art Linkletter Show"", this company served its billionth burger",McDonald's
4,4680,2004-12-31,Jeopardy!,EPITAPHS & TRIBUTES,$200,"Signer of the Dec. of Indep., framer of the Constitution of Mass., second President of the United States",John Adams
...,...,...,...,...,...,...,...
216925,4999,2006-05-11,Double Jeopardy!,RIDDLE ME THIS,$2000,This Puccini opera turns on the solution to 3 riddles posed by the heroine,Turandot
216926,4999,2006-05-11,Double Jeopardy!,"""T"" BIRDS",$2000,"In North America this term is properly applied to only 4 species that are crested, including the tufted",a titmouse
216927,4999,2006-05-11,Double Jeopardy!,AUTHORS IN THEIR YOUTH,$2000,"In Penny Lane, where this ""Hellraiser"" grew up, the barber shaves another customer--then flays him alive!",Clive Barker
216928,4999,2006-05-11,Double Jeopardy!,QUOTATIONS,$2000,"From Ft. Sill, Okla. he made the plea, Arizona is my land, my home, my father's land, to which I now ask to... return""",Geronimo
216929,4999,2006-05-11,Final Jeopardy!,HISTORIC NAMES,None,A silent movie title includes the last name of this 18th c. statesman & favorite of Catherine the Great,Grigori Alexandrovich Potemkin

I write a function that filters the dataset for questions that contain all of the words in a list of words. For example, when the list `["King", "England"]` is passed to the function, I should obtain a dataframe of 49 rows, with each row having both strings `"King"` and `"England"` somewhere in the question.

In [4]:
query = ["King", "England"]
question_number = -1 # This will indicate the row the question came from
question_rows = [] # List of row numbers from which to build this dataframe

for question in all_data.Question: # Check each question
    FoundFlag = True # Create a flag that switches if any word is not found in the question
    question_number += 1 # Track the question we are inspecting
    for term in query:
        if term not in question: # If one term is not in the question, ignore this question
            FoundFlag = False # Activate switch
    if FoundFlag == True:
        question_rows.append(question_number) # add the locations of valid questions to the list

print(len(all_data.iloc[question_rows]))
all_data.iloc[question_rows]

49

,Show Number,Air Date,Round,Category,Value,Question,Answer
4953,3003,1997-09-24,Double Jeopardy!,"""PH""UN WORDS",$200,"Both England's King George V & FDR put their stamp of approval on this ""King of Hobbies""",Philately (stamp collecting)
14912,2832,1996-12-17,Jeopardy!,WORLD HISTORY,$100,"This country's King Louis IV was nicknamed ""Louis From Overseas"" because he was raised in England",France
21511,4650,2004-11-19,Jeopardy!,"THE ""O.C.""",$1000,this man and his son ruled England following the execution of King Charles I,Oliver Cromwell
23810,4862,2005-11-01,Jeopardy!,NAME THE YEAR,$400,William the Conqueror was crowned King of England in Westminster Abbey on Christmas Day in this year,1066
27555,1799,1992-05-28,Double Jeopardy!,HISTORIC IN-LAWS,$600,This member of the Medici family was the mother-in-law of England's King Charles I,Marie de Medici
33294,5589,2008-12-18,Jeopardy!,THE BAYEUX TAPESTRY,$600,"(Sarah of the Clue Crew delivers the clue from the Bayeux Cathedral in France.) Despite taking an oath to assure another succession, Harold is crowned King of England; the tapestry indicated it was <a href=""http://www.j-archive.com/media/2008-12-18_J_08.jpg"" target=""_blank"">Stigant</a>, this archbishop, who performed the ceremony",the Archbishop of Canterbury
41148,5925,2010-05-21,Double Jeopardy!,TREATIES,$1600,"This French king recognized William of Orange as William II, King of England, under the terms of 1697's Treaty of Ryswick",Louis XIV
41357,2751,1996-07-15,Jeopardy!,HISTORIC NAMES,$400,"England's King Henry VIII had 3 wives named Catherine: Catherine Howard, Catherine of Aragon & this one",Catherine Parr
43122,3937,2001-10-16,Double Jeopardy!,"OH, HENRY!",$400,The father of England's King Edward VI,Henry VIII
47814,4365,2003-07-18,Double Jeopardy!,POTIONS,$2000,This steak sauce was created for King George IV of England,A1
49994,5499,2008-07-03,Jeopardy!,REIGN DROPS,$1000,"Elizabeth I's half-brother, he reigned before her as King of England from 1547 to 1553",Edward VI
51115,3574,2000-03-02,Jeopardy!,ALL THINGS BRITISH,$200,"(<a href=""http://www.j-archive.com/media/2000-03-02_J_22.jpg"" target=""_blank"">Alex Trebek reads from England.</a>) In 1214 barons fed up with King John met at the abbey whose ruins we see here; the result a year later was this charter",Magna Carta
51565,4264,2003-02-27,Double Jeopardy!,MUSIC APPRECIATION,$800,"He wrote several anthems, including ""The King Shall Rejoice"", for the coronation of England's King George II",George Frideric Handel
56600,3533,2000-01-05,Double Jeopardy!,FRENCH HISTORY,$600,This city known for its 24-hour auto race was the birthplace of England's King Henry II in 1133,Le Mans
57516,4299,2003-04-17,Double Jeopardy!,"THE ""UN""CATEGORY",$2000,Famous (& rather insulting) adjective for England's King Ethelred II,"""the Unready"""
58949,6250,2011-11-18,Double Jeopardy!,ASSUME THE POSITION,$2000,He became King of England in 1399 after forcing his cousin Richard II from the throne,Henry IV
71808,5270,2007-07-06,Jeopardy!,WHERE THERE'S A WILLIAM,$1000,"Number of the William who was England's ""Sailor King"" from 1830 to 1837",IV
74235,2757,1996-09-03,Jeopardy!,WORLD HISTORY,$200,Barons & churchmen drew up this 1215 document to reduce the power of England's King John,The Magna Carta
77195,3656,2000-06-26,Jeopardy!,JUNE 26,$400,"He became King of England on June 26, 1483; just over 2 years later he was killed at Bosworth Field",Richard III
79457,4230,2003-01-10,Double Jeopardy!,CONQUERORS,$800,"On Christmas Day 1066, he was crowned King of England, 72 days after defeating Harold at the Battle of Hastings",William the Conqueror
80113,5827,2010-01-05,Jeopardy!,"""M"" & ""M""",$1000,"England's King Charles II was known by this ""jovial"" nickname","""the Merry Monarch"""
84639,1558,1991-05-15,Jeopardy!,FILMS OF THE '90S,$200,"He went from second banana on ""Roseanne"" to top banana of England in ""King Ralph""",John Goodman
86412,1837,1992-09-08,Double Jeopardy!,ROYALTY,$400,This country's King Olaf V was born in England & was the grandson of King Edward VII,Norway
89710,5390,2008-02-01,Double Jeopardy!,"""CAN""NED WORDS",$1600,This 11th Century King of England also ruled Denmark & Norway during the latter part of his reign,Canute
111926,1331,1990-05-21,Jeopardy!,"FILE UNDER ""M""","$1,000","It begins ""John, by the grace of God, King of England, Lord of Ireland, Duke of Normandy & Aquitaine....""",Magna Carta
118809,1905,1992-12-11,Jeopardy!,KINGS & QUEENS,$300,In French this King of England is called Guillaume le Conquerant,William the Conqueror
123299,4656,2004-11-29,Jeopardy!,CHAIRS,$400,"If you want to be crowned King of England, this rock has to be in your coronation chair",the Stone of Scone
123671,5718,2009-06-17,Jeopardy!,A YEAR ENDING IN '09,$1000,King Henry VII of England dies,1509
125822,4042,2002-03-12,Double Jeopardy!,"PAINT IT ""BLACK""","$5,000",Famous nickname of the eldest son of England's King Edward III,the Black Prince
127484,1325,1990-05-11,Double Jeopardy!,MEDIEVAL PEOPLE,$600,Ethelred the Unready managed to lose most of England to King Sweyn Forkbeard of this country,Denmark
127758,6021,2010-11-15,Jeopardy!,STATE FACTS,$600,This state was named for the King of England who reigned from 1727 to 1760,Georgia
129106,4906,2006-01-02,Double Jeopardy!,HISTORIC NICKNAMES,$2000,"King Edward I of England, who fought William Wallace, had this nickname relating to his height","""Longshanks"""
130208,5222,2007-05-01,Jeopardy!,ROYALTY,$600,"This ""Sun King"" sniffed, ""England is a little garden full of sour weeds""",Louis XIV
137818,3368,1999-04-07,Jeopardy!,PEOPLE IN HISTORY,$400,The last King William to rule England had this number after his name,IV
143434,1882,1992-11-10,Double Jeopardy!,ART,$800,This Flemish artist painted a unique triple portrait of England's King Charles I around 1637,Anthony van Dyck
150880,4790,2005-06-03,Double Jeopardy!,20th CENTURY BRITISH HISTORY,$1200,"During Stanley Baldwin's term as P.M., this King of England abdicated",King Edward VIII
165110,4255,2003-02-14,Jeopardy!,HIGH COUP,$1000,"The 1st commoner to rule England, he became lord protector following the overthrow of King Charles I",Oliver Cromwell
165197,6272,2011-12-20,Double Jeopardy!,TOUCHED BY AN ANGEL,$2000,"The ""Angel of Hadley"" is said to have saved a New England town during the war with this Indian ""King""",King Philip
170007,5455,2008-05-02,Double Jeopardy!,THE SWEET 1600s,$1600,"In the 1697 Treaty of Rijswijk, the French recognized this Dutch-born man as King of England",William of Orange
174055,2143,1993-12-22,Double Jeopardy!,HISTORIC PEOPLE,$200,This conqueror was crowned King of England on Christmas Day 1066,William
175259,3055,1997-12-05,Double Jeopardy!,THE 1930s,$400,His short reign as King of England fell in in 1936,King Edward VIII
183462,3099,1998-02-05,Final Jeopardy!,ROYALTY,None,"A capital in the West Indies is named for this family name of William of Orange, King of England",Nassau
186239,5339,2007-11-22,Double Jeopardy!,EUROPEAN HISTORY,$800,"He was King of England from 1189 to 1199 but spent only 6 months there; the rest of the time, he was off fighting",Richard the Lionheart
187651,5264,2007-06-28,Jeopardy!,CAPITALS OF THE WEST INDIES,$600,This Bahamian capital took its name from the family name of King William III of England,Nassau
191579,5453,2008-04-30,Jeopardy!,BATTLES,$800,England's King Harold II lost the all-important Battle of Hastings in this year,1066
192265,6292,2012-01-17,Double Jeopardy!,NORWAY'S CULTURE & HISTORY,$1600,"(<a href=""http://www.j-archive.com/media/2012-01-17_DJ_25.jpg"" target=""_blank"">Sarah of the Clue Crew stands in front of the Royal Palace in Oslo, Norway.</a>) King Harald V lives here, in Norway's Royal Palace. He and his second cousin, England's Queen Elizabeth, are both great-grandchildren of this British king, who ruled from 1901 to 1910.",Edward VII
192966,6175,2011-06-17,Double Jeopardy!,HERO SANDWICH,$800,England's King _____ _____ R. Luce,John Henry
194516,6114,2011-03-24,Double Jeopardy!,THE YUCKS STOP HERE,$1600,"The ""Monty Python"" member who played King Arthur, he ended his grail quest in Maidstone, England",Graham Chapman
200369,2937,1997-05-13,Jeopardy!,BRITISH HISTORY,$200,8th C. King Offa built a 170-mile north-south dike that still partly marks the border of England & this country,Wales

This test has worked, so I now turn this into a function.

In [5]:
def questions_by_query(query): # Define this function

    question_number = -1 # Reset the question number
    question_rows = [] # Empty list of row numbers
    
    for question in all_data.Question: # Check each question
        FoundFlag = True # Reset flag for each question
        question_number += 1 # Track the question we are inspecting    
        for term in query:
            if term.upper() not in question.upper(): # Remove case-sensitivity
                FoundFlag = False
        if FoundFlag == True:
            question_rows.append(question_number)

    return all_data.iloc[question_rows]

query = ["Game"]
questions_by_query(query)

,Show Number,Air Date,Round,Category,Value,Question,Answer
67,5957,2010-07-06,Jeopardy!,RHYMES WITH SMART,$400,"Small, slender missile thrown at a board in a game",a dart
72,5957,2010-07-06,Jeopardy!,LET'S BOUNCE,$600,"In this kid's game, you bounce a small rubber ball while picking up 6-pronged metal objects",jacks
174,3751,2000-12-18,Final Jeopardy!,SPORTS LEGENDS,None,"If Joe DiMaggio's hitting streak had gone one more game in 1941, this company would have given him a $10,000 contract",H.J. Heinz (Heinz 57 Varieties)
218,3673,2000-07-19,Double Jeopardy!,INTERNATIONAL SPORTSMEN,$600,Vladimir Samsonov is touted as Europe's only hope against China in this game,Ping-pong
433,6037,2010-12-07,Jeopardy!,LET'S HIT IT,$600,Aaron Fechter invented this carnival game where you hit a mammal with a mallet,Whack-A-Mole
...,...,...,...,...,...,...,...
216067,4364,2003-07-17,Double Jeopardy!,PULLING UP STAKES,$800,A ringer on the stake in this game scores 3 points; 50 points wins the game,horseshoes
216125,6207,2011-09-20,Double Jeopardy!,"ISN'T IT ""GRAND""?",$800,"Titles in this mega-selling video game series include ""Vice City"" & ""Chinatown Wars""",Grand Theft Auto
216167,1983,1993-03-31,Jeopardy!,SPORTS,$400,In 1975 this college football bowl game moved from Tulane Stadium to the Louisiana Superdome,the Sugar Bowl
216281,5236,2007-05-21,Jeopardy!,"ALL WE ARE ""SAY""ING",$600,This popular children's game bearing a man's name tests your ability to follow directions,Simon Says
216709,6044,2010-12-16,Jeopardy!,LANGUAGE CRAFT,$800,"(""Daylight"" playing) Matt & Kim reworked their song ""Daylight"" for the gibberish language used in <a href=""http://www.j-archive.com/media/2010-12-16_J_21.wmv"">this</a> game series",The Sims

Here, we can see that the function only checks that the group of letters making up the word are in the question. This includes not just the word `"game"`, but `"games"` too. I attempt to fix this by checking for additional letters on either side of this string of letters.

In [6]:
import string
string.ascii_uppercase

'ABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [7]:
def questions_by_strict_query(query): # Define this function

    question_number = -1 # Reset the question number
    question_rows = [] # Empty list of row numbers
    
    for question in all_data.Question: # Check each question
        FoundFlag = True # Reset flag for each question
        question_number += 1 # Track the question we are inspecting    
        for term in query:
            BadTermVersions = [] # Make an array of letters on either side of the search term
            for x in string.ascii_uppercase:
                BadTermVersions.append(x+term.upper())
                BadTermVersions.append(term.upper()+x)

            if term.upper() not in question.upper(): # Remove case-sensitivity
                FoundFlag = False
            else: # Raw term is found in the question
                BadInstances = 0
                Instances = question.upper().count(term.upper()) # number of times the raw term appears in the question
                for BadTerm in BadTermVersions:
                    if BadTerm in question.upper(): # if the term is part of a longer string
                        BadInstances += question.upper().count(BadTerm)
                        # Double counting when the string has extra letter on both sides: XXabcXX
                    BadInstances -= question.upper().count(term.upper()+x+term.upper())
                if BadInstances == Instances: # if all instances are bad
                    FoundFlag = False
        if FoundFlag == True:
            question_rows.append(question_number)

    return all_data.iloc[question_rows]

query = ["Games"]
questions_by_strict_query(query)

,Show Number,Air Date,Round,Category,Value,Question,Answer
918,3834,2001-04-12,Double Jeopardy!,"THE MELBOURNE OLYMPICS, 1956",$200,"As an 8-year-old in 1956, she sang with a group welcoming Queen Elizabeth II; later she sang to open the 2000 games",Olivia Newton-John
1528,5392,2008-02-05,Double Jeopardy!,FUNNY FOR NOTHIN',$800,"A writer, on the U.S. soccer team's 4 total shots in 3 games: ""Four shots?"" This Laker ""takes that many during a timeout""",Kobe Bryant
2318,5630,2009-02-13,Double Jeopardy!,CANADIAN FOOTBALL,$2000,The Alouettes play their home games at Molson Stadium on the campus of this Montreal university,McGill
2598,4220,2002-12-27,Double Jeopardy!,THE EMPEROR NERO,$400,"In the year prior to his death, Nero participated in these games in Greece",Olympic Games
2737,5979,2010-09-16,Double Jeopardy!,WORLD LEADERS,$2000,"It's prime minister Mr. Tuila'Epa, won a silver medal in archery at the 2007 South Pacific Games",Samoa
...,...,...,...,...,...,...,...
213102,4156,2002-09-30,Double Jeopardy!,LA TRIVIA-TA,$2000,The eagle that represented the 1984 Summer Olympic Games was named this,Sam
213525,351,1986-01-13,Jeopardy!,CARDS,$100,Bridge term for a set of three games or what a hot rod lays when it takes off,rubber
214035,6011,2010-11-01,Double Jeopardy!,IT'S HYPHENATED,$400,"With 7, Nolan Ryan holds the record for having pitched the most of these rare games",a no-hitter
215175,5167,2007-02-13,Double Jeopardy!,PLENTY OF TIME,$400,"This sport's games have no set time limit; the longest pro game was 8 hours, 25 minutes between Pawtucket & Rochester",baseball
216052,4364,2003-07-17,Jeopardy!,THE AMERICAN LEAGUE,$1000,"On Sept. 27, 1999 this team played the last of its 6,783 games at ""The Corner"" of Michigan & Trumbull",Detroit Tigers

I format the values in the Value column to be floats, so that further calculations may be performed more easily on those values.

In [8]:
all_data

,Show Number,Air Date,Round,Category,Value,Question,Answer
0,4680,2004-12-31,Jeopardy!,HISTORY,$200,"For the last 8 years of his life, Galileo was under house arrest for espousing this man's theory",Copernicus
1,4680,2004-12-31,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,$200,"No. 2: 1912 Olympian; football star at Carlisle Indian School; 6 MLB seasons with the Reds, Giants & Braves",Jim Thorpe
2,4680,2004-12-31,Jeopardy!,EVERYBODY TALKS ABOUT IT...,$200,"The city of Yuma in this state has a record average of 4,055 hours of sunshine each year",Arizona
3,4680,2004-12-31,Jeopardy!,THE COMPANY LINE,$200,"In 1963, live on ""The Art Linkletter Show"", this company served its billionth burger",McDonald's
4,4680,2004-12-31,Jeopardy!,EPITAPHS & TRIBUTES,$200,"Signer of the Dec. of Indep., framer of the Constitution of Mass., second President of the United States",John Adams
...,...,...,...,...,...,...,...
216925,4999,2006-05-11,Double Jeopardy!,RIDDLE ME THIS,$2000,This Puccini opera turns on the solution to 3 riddles posed by the heroine,Turandot
216926,4999,2006-05-11,Double Jeopardy!,"""T"" BIRDS",$2000,"In North America this term is properly applied to only 4 species that are crested, including the tufted",a titmouse
216927,4999,2006-05-11,Double Jeopardy!,AUTHORS IN THEIR YOUTH,$2000,"In Penny Lane, where this ""Hellraiser"" grew up, the barber shaves another customer--then flays him alive!",Clive Barker
216928,4999,2006-05-11,Double Jeopardy!,QUOTATIONS,$2000,"From Ft. Sill, Okla. he made the plea, Arizona is my land, my home, my father's land, to which I now ask to... return""",Geronimo
216929,4999,2006-05-11,Final Jeopardy!,HISTORIC NAMES,None,A silent movie title includes the last name of this 18th c. statesman & favorite of Catherine the Great,Grigori Alexandrovich Potemkin

There is a value of 'None' at row ID 216,929. I will replace all values of None in this column to a format that matches the other values, before filtering.

In [9]:
all_data['Value'] = all_data['Value'].replace('None', '$0')
all_data

,Show Number,Air Date,Round,Category,Value,Question,Answer
0,4680,2004-12-31,Jeopardy!,HISTORY,$200,"For the last 8 years of his life, Galileo was under house arrest for espousing this man's theory",Copernicus
1,4680,2004-12-31,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,$200,"No. 2: 1912 Olympian; football star at Carlisle Indian School; 6 MLB seasons with the Reds, Giants & Braves",Jim Thorpe
2,4680,2004-12-31,Jeopardy!,EVERYBODY TALKS ABOUT IT...,$200,"The city of Yuma in this state has a record average of 4,055 hours of sunshine each year",Arizona
3,4680,2004-12-31,Jeopardy!,THE COMPANY LINE,$200,"In 1963, live on ""The Art Linkletter Show"", this company served its billionth burger",McDonald's
4,4680,2004-12-31,Jeopardy!,EPITAPHS & TRIBUTES,$200,"Signer of the Dec. of Indep., framer of the Constitution of Mass., second President of the United States",John Adams
...,...,...,...,...,...,...,...
216925,4999,2006-05-11,Double Jeopardy!,RIDDLE ME THIS,$2000,This Puccini opera turns on the solution to 3 riddles posed by the heroine,Turandot
216926,4999,2006-05-11,Double Jeopardy!,"""T"" BIRDS",$2000,"In North America this term is properly applied to only 4 species that are crested, including the tufted",a titmouse
216927,4999,2006-05-11,Double Jeopardy!,AUTHORS IN THEIR YOUTH,$2000,"In Penny Lane, where this ""Hellraiser"" grew up, the barber shaves another customer--then flays him alive!",Clive Barker
216928,4999,2006-05-11,Double Jeopardy!,QUOTATIONS,$2000,"From Ft. Sill, Okla. he made the plea, Arizona is my land, my home, my father's land, to which I now ask to... return""",Geronimo
216929,4999,2006-05-11,Final Jeopardy!,HISTORIC NAMES,$0,A silent movie title includes the last name of this 18th c. statesman & favorite of Catherine the Great,Grigori Alexandrovich Potemkin

In [10]:
def currency_to_float(value):
    return value[1:].replace(',', '')

all_data['Value'] = all_data['Value'].apply(currency_to_float).apply(pd.to_numeric)
all_data

,Show Number,Air Date,Round,Category,Value,Question,Answer
0,4680,2004-12-31,Jeopardy!,HISTORY,200,"For the last 8 years of his life, Galileo was under house arrest for espousing this man's theory",Copernicus
1,4680,2004-12-31,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,200,"No. 2: 1912 Olympian; football star at Carlisle Indian School; 6 MLB seasons with the Reds, Giants & Braves",Jim Thorpe
2,4680,2004-12-31,Jeopardy!,EVERYBODY TALKS ABOUT IT...,200,"The city of Yuma in this state has a record average of 4,055 hours of sunshine each year",Arizona
3,4680,2004-12-31,Jeopardy!,THE COMPANY LINE,200,"In 1963, live on ""The Art Linkletter Show"", this company served its billionth burger",McDonald's
4,4680,2004-12-31,Jeopardy!,EPITAPHS & TRIBUTES,200,"Signer of the Dec. of Indep., framer of the Constitution of Mass., second President of the United States",John Adams
...,...,...,...,...,...,...,...
216925,4999,2006-05-11,Double Jeopardy!,RIDDLE ME THIS,2000,This Puccini opera turns on the solution to 3 riddles posed by the heroine,Turandot
216926,4999,2006-05-11,Double Jeopardy!,"""T"" BIRDS",2000,"In North America this term is properly applied to only 4 species that are crested, including the tufted",a titmouse
216927,4999,2006-05-11,Double Jeopardy!,AUTHORS IN THEIR YOUTH,2000,"In Penny Lane, where this ""Hellraiser"" grew up, the barber shaves another customer--then flays him alive!",Clive Barker
216928,4999,2006-05-11,Double Jeopardy!,QUOTATIONS,2000,"From Ft. Sill, Okla. he made the plea, Arizona is my land, my home, my father's land, to which I now ask to... return""",Geronimo
216929,4999,2006-05-11,Final Jeopardy!,HISTORIC NAMES,0,A silent movie title includes the last name of this 18th c. statesman & favorite of Catherine the Great,Grigori Alexandrovich Potemkin

I create a function to count the number of unique answers.

In [11]:
def count_answers(data):

    UniqueAnswers = {}                       # dictionary of answer and the number of appearances 
    for answer in data['Answer']:
        if answer not in UniqueAnswers:      # if new answer
            UniqueAnswers[answer] = 1        # add to dictionary
        else:
            UniqueAnswers[answer] += 1
    return UniqueAnswers

def query_to_answers(query):                    # processing function so I can just input the query
    filtered = questions_by_strict_query(query) # get the dataset filtered by the query
    answers = count_answers(filtered)           # count the number of answers in the filtered data
    return filtered, answers

In [12]:
query = ['bread']
filtered_data, answer_counts = query_to_answers(query) # array type needs to be passed to function

I can display the most common answers.

In [13]:
import numpy as np

In [14]:
answer_counts

keys = list(answer_counts.keys())
values = list(answer_counts.values())
sorted_dict = {keys[i]: values[i] for i in np.argsort(values)[::-1]} # argsort returns a sorted index array
sorted_dict

print("For the query of:\n")
for q in query:
    print(q)
print('')
for k,v in sorted_dict.items():
    print("An answer of", k, "appears", v, "times.")

For the query of:

bread

An answer of French toast appears 5 times.
An answer of Passover appears 5 times.
An answer of pita appears 5 times.
An answer of Wonder Bread appears 4 times.
An answer of baguette appears 4 times.
An answer of rye appears 4 times.
An answer of focaccia appears 3 times.
An answer of croutons appears 3 times.
An answer of a baguette appears 3 times.
An answer of Sourdough appears 3 times.
An answer of mold appears 3 times.
An answer of Jean Valjean appears 2 times.
An answer of Zwieback appears 2 times.
An answer of yeast appears 2 times.
An answer of English muffin appears 2 times.
An answer of pumpernickel appears 2 times.
An answer of caraway seeds appears 2 times.
An answer of stuffing appears 2 times.
An answer of Elvis Presley appears 2 times.
An answer of matzo appears 2 times.
An answer of zwieback appears 2 times.
An answer of Smorgasbord appears 2 times.
An answer of Old Mother Hubbard appears 2 times.
An answer of scones appears 2 times.
An answer of "If" appears 2 times.
An answer of Yeast appears 2 times.
An answer of unleavened appears 2 times.
An answer of hummus appears 2 times.
An answer of challah appears 2 times.
An answer of Heel appears 2 times.
An answer of Zucchini appears 1 times.
An answer of tortilla appears 1 times.
An answer of biscuit appears 1 times.
An answer of heel/heal appears 1 times.
An answer of Josephine Baker's Dozen appears 1 times.
An answer of Butter appears 1 times.
An answer of ghost toast (a toast ghost accepted) appears 1 times.
An answer of the old woman who lived in a shoe appears 1 times.
An answer of a matzoh ball appears 1 times.
An answer of Bernbach appears 1 times.
An answer of ham sandwich appears 1 times.
An answer of Tortillas appears 1 times.
An answer of The Old Woman Who Lived in a Shoe appears 1 times.
An answer of Wienerschnitzel appears 1 times.
An answer of chopped liver appears 1 times.
An answer of clause appears 1 times.
An answer of au gratin appears 1 times.
An answer of knead appears 1 times.
An answer of carraway appears 1 times.
An answer of tandoor appears 1 times.
An answer of Marmalade appears 1 times.
An answer of pickles appears 1 times.
An answer of manna appears 1 times.
An answer of transubstantiation appears 1 times.
An answer of Crumpet appears 1 times.
An answer of a crumb appears 1 times.
An answer of Cross appears 1 times.
An answer of Lucy Ricardo appears 1 times.
An answer of ciabatta appears 1 times.
An answer of Les MisÃ©rables appears 1 times.
An answer of patty melt appears 1 times.
An answer of Scone appears 1 times.
An answer of Middlebury appears 1 times.
An answer of a legion appears 1 times.
An answer of Wonder (Bread) appears 1 times.
An answer of Toast appears 1 times.
An answer of Cornbread appears 1 times.
An answer of crackling appears 1 times.
An answer of wry appears 1 times.
An answer of Gluten appears 1 times.
An answer of Cherry appears 1 times.
An answer of Corn meal appears 1 times.
An answer of Garlic appears 1 times.
An answer of Peter (Rabbit) appears 1 times.
An answer of the Netherlands appears 1 times.
An answer of French Toast appears 1 times.
An answer of eggs appears 1 times.
An answer of Tortilla appears 1 times.
An answer of Day of the Dead appears 1 times.
An answer of companion appears 1 times.
An answer of the pancreas appears 1 times.
An answer of Ethiopia appears 1 times.
An answer of butter appears 1 times.
An answer of Turin appears 1 times.
An answer of Veal Parmigiana appears 1 times.
An answer of a sandwich appears 1 times.
An answer of "Les Miserables" appears 1 times.
An answer of Karl Marx appears 1 times.
An answer of caraway appears 1 times.
An answer of Hansel & Gretel appears 1 times.
An answer of Little Tommy Tucker appears 1 times.
An answer of molasses appears 1 times.
An answer of naan appears 1 times.
An answer of the Mad Hatter appears 1 times.
An answer of life appears 1 times.
An answer of matzah appears 1 times.
An answer of Ponehenge appears 1 times.
An answer of sweet appears 1 times.
An answer of (the Earl of) Sandwich appears 1 times.
An answer of Jefferson Davis appears 1 times.
An answer of biscuits appears 1 times.
An answer of chocolate appears 1 times.
An answer of jam session appears 1 times.
An answer of clarified butter appears 1 times.
An answer of baking appears 1 times.
An answer of B-R-U-S-C-H-E-T-T-A appears 1 times.
An answer of box appears 1 times.
An answer of Bouillabaisse appears 1 times.
An answer of to throw dough appears 1 times.
An answer of baking soda appears 1 times.
An answer of Judge Judy appears 1 times.
An answer of "Let them eat cake" appears 1 times.
An answer of baker appears 1 times.
An answer of Ireland appears 1 times.
An answer of Boston appears 1 times.
An answer of Kaddish appears 1 times.
An answer of western/Denver sandwich appears 1 times.
An answer of a biscuit appears 1 times.
An answer of maize appears 1 times.
An answer of Exodus appears 1 times.
An answer of Devonshire (for Devon) appears 1 times.
An answer of Cornell appears 1 times.
An answer of Baguette appears 1 times.
An answer of Fidelio appears 1 times.
An answer of Olive oil appears 1 times.
An answer of Zurich appears 1 times.
An answer of a knife appears 1 times.
An answer of pastrami appears 1 times.
An answer of loaf appears 1 times.
An answer of Hasty pudding appears 1 times.
An answer of Loaf (for Olaf) appears 1 times.
An answer of Rita's pitas appears 1 times.
An answer of baked beans appears 1 times.
An answer of leaven appears 1 times.
An answer of Carob appears 1 times.
An answer of Wheat appears 1 times.
An answer of The Rubaiyat appears 1 times.
An answer of falafel appears 1 times.
An answer of Atlanta appears 1 times.
An answer of pantry appears 1 times.
An answer of garlic bread appears 1 times.
An answer of butter mutter appears 1 times.
An answer of a tandoor appears 1 times.
An answer of The Lord's Prayer (Our Father) appears 1 times.
An answer of (James) Beard appears 1 times.
An answer of breadcrumbs appears 1 times.
An answer of bruschetta appears 1 times.
An answer of tea appears 1 times.
An answer of pita bread appears 1 times.
An answer of Il Trovatore appears 1 times.
An answer of Parsifal appears 1 times.
An answer of Wolfgang A. Mozart appears 1 times.
An answer of Omar Khayyam appears 1 times.
An answer of Gingerbread appears 1 times.
An answer of tack appears 1 times.
An answer of sourdough appears 1 times.
An answer of dough (doe) appears 1 times.
An answer of Beer appears 1 times.
An answer of serrated appears 1 times.
An answer of a bacterium appears 1 times.
An answer of a baker's dozen appears 1 times.
An answer of "thou" appears 1 times.
An answer of a pita appears 1 times.
An answer of wry/rye appears 1 times.
An answer of starter appears 1 times.
An answer of Wonder bread appears 1 times.
An answer of Ethiopian appears 1 times.
An answer of Operation appears 1 times.
An answer of Starman appears 1 times.
An answer of half a loaf is better than none appears 1 times.
An answer of wine appears 1 times.
An answer of Sourdough bread appears 1 times.
An answer of Marie Curie appears 1 times.
An answer of meatloaf appears 1 times.
An answer of wonder appears 1 times.
An answer of baseball appears 1 times.
An answer of zucchini appears 1 times.
An answer of carbon appears 1 times.
An answer of the Ukraine appears 1 times.
An answer of Quito appears 1 times.
An answer of Kaiser appears 1 times.
An answer of panini appears 1 times.
An answer of flour appears 1 times.
An answer of Fondue appears 1 times.
An answer of Matzo appears 1 times.
An answer of canapes appears 1 times.
An answer of milquetoast appears 1 times.
An answer of Pumpernickel appears 1 times.
An answer of hope appears 1 times.
An answer of gingerbread appears 1 times.
An answer of Quaker baker appears 1 times.
An answer of Cornmeal appears 1 times.
An answer of Danish appears 1 times.
An answer of toaster appears 1 times.
An answer of Slice it appears 1 times.
An answer of a rolling pin appears 1 times.
An answer of Turkey appears 1 times.
An answer of Russia appears 1 times.
An answer of Axl Rose appears 1 times.
An answer of toast appears 1 times.
An answer of a wafer appears 1 times.
An answer of Transubstantiation appears 1 times.
An answer of David Gates appears 1 times.
An answer of Smelly jelly appears 1 times.
An answer of Dates appears 1 times.
An answer of Manna appears 1 times.
An answer of Croissant appears 1 times.
An answer of monkey appears 1 times.
An answer of matzo brei appears 1 times.
An answer of chorizo appears 1 times.
An answer of a shoe appears 1 times.
An answer of primavera appears 1 times.
An answer of Egyptians appears 1 times.
An answer of Switzerland appears 1 times.
An answer of Sandwich appears 1 times.

I can sort the filtered dataset by value, with the highest-scoring questions at the top.

In [15]:
filtered_data.sort_values(by=['Value'], ascending=False)

,Show Number,Air Date,Round,Category,Value,Question,Answer
176999,2998,1997-09-17,Double Jeopardy!,TREES,2000,Saint-John's Bread is another name for this tree that yields a chocolate substitute,Carob
122510,4615,2004-10-01,Double Jeopardy!,CHART TOPPERS,2000,"He wrote Bread's only No. 1 hit, ""Make It With You"", as well as the title track to the 1977 film ""The Goodbye Girl""",David Gates
75793,6077,2011-02-01,Double Jeopardy!,EAT,2000,"You can make your panini with this Italian bread whose name comes from the Latin for ""hearth""",focaccia
99486,5633,2009-02-18,Double Jeopardy!,CAN I BUY YOU A SANDWCH?,2000,"The name of this hot pressed sandwich made with a variety of fillings is Italian for ""little bread""",panini
119624,5445,2008-04-18,Double Jeopardy!,EGGS,2000,"For Passover, this Jewish dish is sort of like French toast but uses unleavened bread dipped in beaten egg",matzo brei
...,...,...,...,...,...,...,...
89719,3023,1997-10-22,Jeopardy!,INTERNATIONAL CUISINE,100,It's traditional to cut this religious symbol into the top of Irish soda bread,Cross
155220,3947,2001-10-30,Jeopardy!,BREAD,100,"It's the term for a type of French bread baked into a long, cylindrical loaf with a crisp crust & a chewy inside",baguette
156721,63,1984-12-05,Jeopardy!,FOREIGN CUISINE,100,The Middle East's popular pocket bread,a pita
71843,2921,1997-04-21,Jeopardy!,BREAD,100,Mince cloves of this into butter to prepare a yummy bread found in Italian restaurants,Garlic
15694,6260,2011-12-02,Final Jeopardy!,WORD ORIGINS,0,"This word for a friend comes from the Latin for ""with whom you would eat bread""",companion

I can count how many questions there are for each discrete amount of points.

In [16]:
filtered_data['Value'].value_counts().sort_index(ascending=False)

2000     9
1600    12
1500     1
1200    13
1000    27
800     37
600     21
500      9
400     58
300     20
200     47
100     10
0        1
Name: Value, dtype: int64

I can also count how many questions were in each type of round.

In [17]:
filtered_data['Round'].value_counts()

Jeopardy!           170
Double Jeopardy!     94
Final Jeopardy!       1
Name: Round, dtype: int64

I can sort the dataset by points and round type, in an order with the most useful questions at the top.

In [18]:
# Define the order in which to sort the strings
filtered_data['Round'] = pd.Categorical(filtered_data['Round'], ["Final Jeopardy!", "Double Jeopardy!", "Jeopardy!"])

C:\Users\k_cha\AppData\Local\Temp\ipykernel_18108\454882251.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_data['Round'] = pd.Categorical(filtered_data['Round'], ["Final Jeopardy!", "Double Jeopardy!", "Jeopardy!"])

In [19]:
filtered_data.sort_values(by=['Round', 'Value'], ascending=[True, False])

,Show Number,Air Date,Round,Category,Value,Question,Answer
15694,6260,2011-12-02,Final Jeopardy!,WORD ORIGINS,0,"This word for a friend comes from the Latin for ""with whom you would eat bread""",companion
75793,6077,2011-02-01,Double Jeopardy!,EAT,2000,"You can make your panini with this Italian bread whose name comes from the Latin for ""hearth""",focaccia
99486,5633,2009-02-18,Double Jeopardy!,CAN I BUY YOU A SANDWCH?,2000,"The name of this hot pressed sandwich made with a variety of fillings is Italian for ""little bread""",panini
119624,5445,2008-04-18,Double Jeopardy!,EGGS,2000,"For Passover, this Jewish dish is sort of like French toast but uses unleavened bread dipped in beaten egg",matzo brei
122510,4615,2004-10-01,Double Jeopardy!,CHART TOPPERS,2000,"He wrote Bread's only No. 1 hit, ""Make It With You"", as well as the title track to the 1977 film ""The Goodbye Girl""",David Gates
...,...,...,...,...,...,...,...
89719,3023,1997-10-22,Jeopardy!,INTERNATIONAL CUISINE,100,It's traditional to cut this religious symbol into the top of Irish soda bread,Cross
112859,2813,1996-11-20,Jeopardy!,WORLD FACTS,100,"Romanians enjoy eating mamaliga, a bread or mush made from this meal",Cornmeal
155220,3947,2001-10-30,Jeopardy!,BREAD,100,"It's the term for a type of French bread baked into a long, cylindrical loaf with a crisp crust & a chewy inside",baguette
156721,63,1984-12-05,Jeopardy!,FOREIGN CUISINE,100,The Middle East's popular pocket bread,a pita
193219,3057,1997-12-09,Jeopardy!,A LOAF OF BREAD,100,"This bread made with a ""starter"" got its start among old-time prospectors",Sourdough

This shows the best questions to study at the top, first ordering by Round, with priority given to Final Jeopardy, before the value of the question is sorted, with the highest-earners at the top.

#### I now build a quizzing system.

Filter the dataset to only include shows that have questions from each round.

In [54]:
FullShows = []
for i in range(1, np.max(all_data['Show Number']+1)):
    if i not in all_data['Show Number'].values:
        print("Show", i, "is not in the database.")
    else:
        data = all_data.loc[all_data['Show Number'] == i]
        if len(data.loc[data['Round'] == 'Jeopardy!']) < 1:
            print('No questions for show', i)
        if len(data.loc[data['Round'] == 'Double Jeopardy!']) < 1:
            print('No Double Jeopardy! questions for show', i)
        if len(data.loc[data['Round'] == 'Final Jeopardy!']) < 1:
            print('No Final Jeopardy! questions for show', i)
        else:
            FullShows.append(i)

Show 6 is not in the database.
Show 7 is not in the database.
Show 8 is not in the database.
Show 15 is not in the database.
Show 16 is not in the database.
Show 17 is not in the database.
Show 18 is not in the database.
Show 19 is not in the database.
Show 20 is not in the database.
Show 21 is not in the database.
Show 22 is not in the database.
Show 23 is not in the database.
Show 24 is not in the database.
Show 25 is not in the database.
Show 26 is not in the database.
Show 27 is not in the database.
Show 28 is not in the database.
Show 29 is not in the database.
Show 30 is not in the database.
Show 31 is not in the database.
Show 32 is not in the database.
Show 33 is not in the database.
Show 34 is not in the database.
Show 35 is not in the database.
Show 36 is not in the database.
Show 37 is not in the database.
Show 38 is not in the database.
Show 39 is not in the database.
Show 40 is not in the database.
Show 41 is not in the database.
Show 42 is not in the database.
Show 43 is not in the database.
Show 44 is not in the database.
Show 45 is not in the database.
Show 46 is not in the database.
Show 47 is not in the database.
Show 48 is not in the database.
Show 49 is not in the database.
Show 50 is not in the database.
Show 51 is not in the database.
Show 52 is not in the database.
Show 53 is not in the database.
Show 54 is not in the database.
Show 55 is not in the database.
Show 60 is not in the database.
Show 69 is not in the database.
Show 70 is not in the database.
Show 71 is not in the database.
Show 72 is not in the database.
Show 73 is not in the database.
Show 74 is not in the database.
Show 75 is not in the database.
Show 76 is not in the database.
Show 77 is not in the database.
Show 78 is not in the database.
Show 79 is not in the database.
Show 80 is not in the database.
Show 81 is not in the database.
Show 82 is not in the database.
Show 83 is not in the database.
Show 84 is not in the database.
Show 85 is not in the database.
Show 86 is not in the database.
Show 87 is not in the database.
Show 88 is not in the database.
Show 89 is not in the database.
Show 90 is not in the database.
Show 91 is not in the database.
Show 92 is not in the database.
Show 93 is not in the database.
Show 94 is not in the database.
Show 95 is not in the database.
Show 96 is not in the database.
Show 97 is not in the database.
Show 98 is not in the database.
Show 99 is not in the database.
Show 100 is not in the database.
Show 101 is not in the database.
Show 102 is not in the database.
Show 103 is not in the database.
Show 104 is not in the database.
Show 105 is not in the database.
Show 106 is not in the database.
Show 107 is not in the database.
Show 108 is not in the database.
Show 109 is not in the database.
Show 111 is not in the database.
Show 112 is not in the database.
Show 113 is not in the database.
Show 114 is not in the database.
Show 115 is not in the database.
Show 116 is not in the database.
Show 117 is not in the database.
Show 118 is not in the database.
Show 119 is not in the database.
Show 120 is not in the database.
Show 121 is not in the database.
Show 122 is not in the database.
Show 123 is not in the database.
Show 124 is not in the database.
Show 125 is not in the database.
Show 126 is not in the database.
Show 127 is not in the database.
Show 128 is not in the database.
Show 129 is not in the database.
Show 130 is not in the database.
Show 131 is not in the database.
Show 132 is not in the database.
Show 133 is not in the database.
Show 134 is not in the database.
Show 135 is not in the database.
Show 136 is not in the database.
Show 137 is not in the database.
Show 138 is not in the database.
Show 139 is not in the database.
Show 140 is not in the database.
Show 141 is not in the database.
Show 142 is not in the database.
Show 143 is not in the database.
Show 144 is not in the database.
Show 145 is not in the database.
Show 146 is not in the database.
Show 147 is not in the database.
Show 148 is not in the database.
Show 149 is not in the database.
Show 150 is not in the database.
Show 151 is not in the database.
Show 152 is not in the database.
Show 153 is not in the database.
Show 154 is not in the database.
Show 155 is not in the database.
Show 156 is not in the database.
Show 157 is not in the database.
Show 158 is not in the database.
Show 159 is not in the database.
Show 160 is not in the database.
Show 161 is not in the database.
Show 162 is not in the database.
Show 163 is not in the database.
Show 164 is not in the database.
Show 165 is not in the database.
Show 166 is not in the database.
Show 167 is not in the database.
Show 168 is not in the database.
Show 169 is not in the database.
Show 170 is not in the database.
Show 171 is not in the database.
Show 172 is not in the database.
Show 173 is not in the database.
Show 174 is not in the database.
Show 175 is not in the database.
Show 176 is not in the database.
Show 177 is not in the database.
Show 178 is not in the database.
Show 179 is not in the database.
Show 180 is not in the database.
Show 181 is not in the database.
Show 182 is not in the database.
Show 183 is not in the database.
Show 184 is not in the database.
Show 185 is not in the database.
Show 186 is not in the database.
Show 187 is not in the database.
Show 188 is not in the database.
Show 189 is not in the database.
Show 190 is not in the database.
Show 191 is not in the database.
Show 192 is not in the database.
Show 193 is not in the database.
Show 194 is not in the database.
Show 195 is not in the database.
Show 196 is not in the database.
Show 197 is not in the database.
Show 198 is not in the database.
Show 199 is not in the database.
Show 200 is not in the database.
Show 201 is not in the database.
Show 202 is not in the database.
Show 203 is not in the database.
Show 204 is not in the database.
Show 205 is not in the database.
Show 206 is not in the database.
Show 207 is not in the database.
Show 208 is not in the database.
Show 209 is not in the database.
Show 210 is not in the database.
Show 211 is not in the database.
Show 212 is not in the database.
Show 213 is not in the database.
Show 214 is not in the database.
Show 215 is not in the database.
Show 216 is not in the database.
Show 217 is not in the database.
Show 218 is not in the database.
Show 219 is not in the database.
Show 220 is not in the database.
Show 221 is not in the database.
Show 222 is not in the database.
Show 223 is not in the database.
Show 224 is not in the database.
Show 225 is not in the database.
Show 226 is not in the database.
Show 227 is not in the database.
Show 228 is not in the database.
Show 229 is not in the database.
Show 230 is not in the database.
Show 231 is not in the database.
Show 232 is not in the database.
Show 233 is not in the database.
Show 234 is not in the database.
Show 235 is not in the database.
Show 236 is not in the database.
Show 237 is not in the database.
Show 238 is not in the database.
Show 239 is not in the database.
Show 240 is not in the database.
Show 241 is not in the database.
Show 242 is not in the database.
Show 243 is not in the database.
Show 244 is not in the database.
Show 245 is not in the database.
Show 246 is not in the database.
Show 247 is not in the database.
Show 248 is not in the database.
Show 249 is not in the database.
Show 250 is not in the database.
Show 251 is not in the database.
Show 252 is not in the database.
Show 253 is not in the database.
Show 254 is not in the database.
Show 255 is not in the database.
Show 256 is not in the database.
Show 257 is not in the database.
Show 258 is not in the database.
Show 259 is not in the database.
Show 260 is not in the database.
Show 261 is not in the database.
Show 262 is not in the database.
Show 263 is not in the database.
Show 264 is not in the database.
Show 265 is not in the database.
Show 266 is not in the database.
Show 267 is not in the database.
Show 268 is not in the database.
Show 269 is not in the database.
Show 270 is not in the database.
Show 271 is not in the database.
Show 272 is not in the database.
Show 273 is not in the database.
Show 274 is not in the database.
Show 275 is not in the database.
Show 281 is not in the database.
Show 282 is not in the database.
Show 283 is not in the database.
Show 284 is not in the database.
Show 285 is not in the database.
Show 286 is not in the database.
Show 287 is not in the database.
Show 288 is not in the database.
Show 289 is not in the database.
Show 290 is not in the database.
Show 291 is not in the database.
Show 292 is not in the database.
Show 293 is not in the database.
Show 294 is not in the database.
Show 295 is not in the database.
Show 296 is not in the database.
Show 297 is not in the database.
Show 298 is not in the database.
Show 299 is not in the database.
Show 300 is not in the database.
Show 301 is not in the database.
Show 302 is not in the database.
Show 303 is not in the database.
Show 304 is not in the database.
Show 305 is not in the database.
Show 316 is not in the database.
Show 317 is not in the database.
Show 318 is not in the database.
Show 319 is not in the database.
Show 320 is not in the database.
Show 321 is not in the database.
Show 322 is not in the database.
Show 323 is not in the database.
Show 324 is not in the database.
Show 325 is not in the database.
Show 326 is not in the database.
Show 327 is not in the database.
Show 328 is not in the database.
Show 329 is not in the database.
Show 330 is not in the database.
Show 331 is not in the database.
Show 332 is not in the database.
Show 333 is not in the database.
Show 334 is not in the database.
Show 335 is not in the database.
Show 336 is not in the database.
Show 337 is not in the database.
Show 338 is not in the database.
Show 339 is not in the database.
Show 340 is not in the database.
Show 341 is not in the database.
Show 342 is not in the database.
Show 343 is not in the database.
Show 344 is not in the database.
Show 345 is not in the database.
Show 346 is not in the database.
Show 347 is not in the database.
Show 348 is not in the database.
Show 349 is not in the database.
Show 350 is not in the database.
Show 352 is not in the database.
Show 353 is not in the database.
Show 354 is not in the database.
Show 355 is not in the database.
Show 356 is not in the database.
Show 357 is not in the database.
Show 358 is not in the database.
Show 359 is not in the database.
Show 360 is not in the database.
Show 361 is not in the database.
Show 362 is not in the database.
Show 363 is not in the database.
Show 364 is not in the database.
Show 365 is not in the database.
Show 366 is not in the database.
Show 372 is not in the database.
Show 373 is not in the database.
Show 374 is not in the database.
Show 375 is not in the database.
Show 376 is not in the database.
Show 377 is not in the database.
Show 378 is not in the database.
Show 379 is not in the database.
Show 380 is not in the database.
Show 381 is not in the database.
Show 382 is not in the database.
Show 383 is not in the database.
Show 384 is not in the database.
Show 385 is not in the database.
Show 386 is not in the database.
Show 387 is not in the database.
Show 388 is not in the database.
Show 389 is not in the database.
Show 390 is not in the database.
Show 391 is not in the database.
Show 392 is not in the database.
Show 393 is not in the database.
Show 394 is not in the database.
Show 395 is not in the database.
Show 396 is not in the database.
Show 397 is not in the database.
Show 398 is not in the database.
Show 399 is not in the database.
Show 400 is not in the database.
Show 401 is not in the database.
Show 402 is not in the database.
Show 403 is not in the database.
Show 404 is not in the database.
Show 405 is not in the database.
Show 406 is not in the database.
Show 407 is not in the database.
Show 408 is not in the database.
Show 409 is not in the database.
Show 410 is not in the database.
Show 411 is not in the database.
Show 412 is not in the database.
Show 413 is not in the database.
Show 414 is not in the database.
Show 415 is not in the database.
Show 416 is not in the database.
Show 417 is not in the database.
Show 418 is not in the database.
Show 419 is not in the database.
Show 420 is not in the database.
Show 421 is not in the database.
Show 424 is not in the database.
Show 425 is not in the database.
Show 426 is not in the database.
Show 427 is not in the database.
Show 428 is not in the database.
Show 429 is not in the database.
Show 430 is not in the database.
Show 431 is not in the database.
Show 432 is not in the database.
Show 433 is not in the database.
Show 434 is not in the database.
Show 435 is not in the database.
Show 436 is not in the database.
Show 437 is not in the database.
Show 438 is not in the database.
Show 439 is not in the database.
Show 440 is not in the database.
Show 441 is not in the database.
Show 442 is not in the database.
Show 443 is not in the database.
Show 444 is not in the database.
Show 445 is not in the database.
Show 447 is not in the database.
Show 448 is not in the database.
Show 449 is not in the database.
Show 450 is not in the database.
Show 451 is not in the database.
Show 452 is not in the database.
Show 453 is not in the database.
Show 454 is not in the database.
Show 455 is not in the database.
Show 456 is not in the database.
Show 457 is not in the database.
Show 458 is not in the database.
Show 459 is not in the database.
Show 460 is not in the database.
Show 461 is not in the database.
Show 462 is not in the database.
Show 463 is not in the database.
Show 465 is not in the database.
Show 466 is not in the database.
Show 467 is not in the database.
Show 468 is not in the database.
Show 469 is not in the database.
Show 470 is not in the database.
Show 471 is not in the database.
Show 472 is not in the database.
Show 473 is not in the database.
Show 474 is not in the database.
Show 476 is not in the database.
Show 477 is not in the database.
Show 478 is not in the database.
Show 479 is not in the database.
Show 480 is not in the database.
Show 481 is not in the database.
No Final Jeopardy! questions for show 482
Show 483 is not in the database.
Show 485 is not in the database.
Show 486 is not in the database.
Show 487 is not in the database.
Show 488 is not in the database.
Show 489 is not in the database.
Show 490 is not in the database.
Show 491 is not in the database.
Show 492 is not in the database.
Show 493 is not in the database.
Show 494 is not in the database.
Show 495 is not in the database.

Show 506 is not in the database.
Show 507 is not in the database.
Show 508 is not in the database.
Show 509 is not in the database.
Show 510 is not in the database.
Show 511 is not in the database.
Show 512 is not in the database.
Show 513 is not in the database.
Show 514 is not in the database.
Show 515 is not in the database.
Show 516 is not in the database.
Show 517 is not in the database.
Show 518 is not in the database.
Show 519 is not in the database.
Show 520 is not in the database.
Show 521 is not in the database.
Show 522 is not in the database.
Show 524 is not in the database.
Show 525 is not in the database.
Show 526 is not in the database.
Show 527 is not in the database.
Show 528 is not in the database.
Show 529 is not in the database.
Show 530 is not in the database.
Show 531 is not in the database.
Show 532 is not in the database.
Show 534 is not in the database.
Show 535 is not in the database.
Show 536 is not in the database.
Show 537 is not in the database.
Show 538 is not in the database.
Show 539 is not in the database.
Show 540 is not in the database.
Show 541 is not in the database.
Show 542 is not in the database.
Show 543 is not in the database.
Show 544 is not in the database.
Show 545 is not in the database.
Show 546 is not in the database.
Show 547 is not in the database.
Show 548 is not in the database.
Show 549 is not in the database.
Show 550 is not in the database.
Show 551 is not in the database.
Show 552 is not in the database.
Show 553 is not in the database.
Show 554 is not in the database.
Show 555 is not in the database.
Show 556 is not in the database.
Show 557 is not in the database.
Show 558 is not in the database.
Show 559 is not in the database.
Show 560 is not in the database.
Show 561 is not in the database.
Show 562 is not in the database.
Show 563 is not in the database.
Show 564 is not in the database.
Show 565 is not in the database.
Show 566 is not in the database.
Show 567 is not in the database.
Show 568 is not in the database.
Show 569 is not in the database.
Show 570 is not in the database.
Show 572 is not in the database.
Show 573 is not in the database.
Show 574 is not in the database.
Show 575 is not in the database.
Show 576 is not in the database.
Show 577 is not in the database.
Show 578 is not in the database.
Show 579 is not in the database.
Show 580 is not in the database.
Show 581 is not in the database.
Show 582 is not in the database.
Show 583 is not in the database.
Show 584 is not in the database.
Show 585 is not in the database.
Show 586 is not in the database.
Show 587 is not in the database.
Show 588 is not in the database.
Show 589 is not in the database.
Show 590 is not in the database.
Show 591 is not in the database.
Show 592 is not in the database.
Show 593 is not in the database.
Show 594 is not in the database.
Show 595 is not in the database.
Show 596 is not in the database.
Show 597 is not in the database.
Show 598 is not in the database.
Show 599 is not in the database.
Show 600 is not in the database.
Show 601 is not in the database.
Show 602 is not in the database.
Show 603 is not in the database.
Show 604 is not in the database.
Show 605 is not in the database.
Show 608 is not in the database.
Show 609 is not in the database.
Show 610 is not in the database.
Show 611 is not in the database.
Show 612 is not in the database.
Show 613 is not in the database.
Show 614 is not in the database.
Show 615 is not in the database.
Show 616 is not in the database.
Show 622 is not in the database.
Show 623 is not in the database.
Show 624 is not in the database.
Show 625 is not in the database.
Show 626 is not in the database.
Show 627 is not in the database.
Show 628 is not in the database.
Show 629 is not in the database.
Show 630 is not in the database.
Show 631 is not in the database.
Show 632 is not in the database.
Show 633 is not in the database.
Show 634 is not in the database.
Show 635 is not in the database.
Show 636 is not in the database.
Show 637 is not in the database.
Show 638 is not in the database.
Show 639 is not in the database.
Show 640 is not in the database.
Show 641 is not in the database.
Show 642 is not in the database.
Show 643 is not in the database.
Show 644 is not in the database.
Show 645 is not in the database.
Show 646 is not in the database.
Show 647 is not in the database.
Show 648 is not in the database.
Show 649 is not in the database.
Show 650 is not in the database.
Show 651 is not in the database.
Show 652 is not in the database.
Show 653 is not in the database.
Show 654 is not in the database.
Show 655 is not in the database.
Show 656 is not in the database.
Show 657 is not in the database.
Show 658 is not in the database.
Show 659 is not in the database.
Show 660 is not in the database.
Show 661 is not in the database.
Show 664 is not in the database.
Show 665 is not in the database.
Show 666 is not in the database.
Show 667 is not in the database.
Show 668 is not in the database.
Show 669 is not in the database.
Show 670 is not in the database.
Show 671 is not in the database.
Show 672 is not in the database.
Show 673 is not in the database.
Show 674 is not in the database.
Show 675 is not in the database.
Show 676 is not in the database.
Show 677 is not in the database.
Show 678 is not in the database.
Show 679 is not in the database.
Show 680 is not in the database.
Show 681 is not in the database.
Show 682 is not in the database.
Show 683 is not in the database.
Show 684 is not in the database.
Show 685 is not in the database.
Show 686 is not in the database.
Show 687 is not in the database.
Show 688 is not in the database.
Show 689 is not in the database.
Show 690 is not in the database.
Show 691 is not in the database.
Show 692 is not in the database.
Show 693 is not in the database.
Show 694 is not in the database.
Show 695 is not in the database.
Show 696 is not in the database.
Show 697 is not in the database.
Show 698 is not in the database.
Show 699 is not in the database.
Show 700 is not in the database.
Show 701 is not in the database.
Show 702 is not in the database.
Show 703 is not in the database.
Show 704 is not in the database.
Show 705 is not in the database.
Show 706 is not in the database.
Show 707 is not in the database.
Show 708 is not in the database.
Show 709 is not in the database.
Show 710 is not in the database.
Show 711 is not in the database.
Show 712 is not in the database.
Show 713 is not in the database.
Show 714 is not in the database.
Show 715 is not in the database.
Show 716 is not in the database.
Show 717 is not in the database.
Show 718 is not in the database.
Show 719 is not in the database.
Show 720 is not in the database.
Show 721 is not in the database.
Show 722 is not in the database.
Show 723 is not in the database.
Show 724 is not in the database.
Show 725 is not in the database.
Show 726 is not in the database.
Show 727 is not in the database.
Show 728 is not in the database.
Show 729 is not in the database.
Show 730 is not in the database.
Show 741 is not in the database.
Show 742 is not in the database.
Show 743 is not in the database.
Show 744 is not in the database.
Show 745 is not in the database.
Show 746 is not in the database.
Show 747 is not in the database.
Show 748 is not in the database.
Show 749 is not in the database.
Show 750 is not in the database.
Show 751 is not in the database.
Show 752 is not in the database.
Show 753 is not in the database.
Show 754 is not in the database.
Show 755 is not in the database.
Show 756 is not in the database.
Show 757 is not in the database.
Show 760 is not in the database.
Show 761 is not in the database.
Show 762 is not in the database.
Show 763 is not in the database.
Show 764 is not in the database.
Show 765 is not in the database.
Show 766 is not in the database.
Show 767 is not in the database.
Show 768 is not in the database.
Show 769 is not in the database.
Show 770 is not in the database.
Show 771 is not in the database.
Show 772 is not in the database.
Show 773 is not in the database.
Show 774 is not in the database.
Show 775 is not in the database.
Show 781 is not in the database.
Show 782 is not in the database.
Show 783 is not in the database.
Show 784 is not in the database.
Show 785 is not in the database.
Show 787 is not in the database.
Show 788 is not in the database.
Show 789 is not in the database.
Show 790 is not in the database.
Show 791 is not in the database.
Show 792 is not in the database.
Show 793 is not in the database.
Show 794 is not in the database.
Show 795 is not in the database.
Show 796 is not in the database.
Show 797 is not in the database.
Show 798 is not in the database.
Show 799 is not in the database.
Show 800 is not in the database.
Show 801 is not in the database.
Show 802 is not in the database.
Show 803 is not in the database.
Show 804 is not in the database.
Show 805 is not in the database.
Show 806 is not in the database.
Show 807 is not in the database.
Show 808 is not in the database.
Show 809 is not in the database.
Show 810 is not in the database.
Show 811 is not in the database.
Show 812 is not in the database.
Show 813 is not in the database.
Show 814 is not in the database.
Show 815 is not in the database.
Show 816 is not in the database.
Show 817 is not in the database.
Show 818 is not in the database.
Show 819 is not in the database.
Show 820 is not in the database.
Show 821 is not in the database.
Show 822 is not in the database.
Show 823 is not in the database.
Show 824 is not in the database.
Show 825 is not in the database.
Show 826 is not in the database.
Show 827 is not in the database.
Show 828 is not in the database.
Show 829 is not in the database.
Show 830 is not in the database.
Show 831 is not in the database.
Show 832 is not in the database.
Show 833 is not in the database.
Show 834 is not in the database.
Show 835 is not in the database.
Show 836 is not in the database.
Show 837 is not in the database.
Show 840 is not in the database.
Show 841 is not in the database.
Show 842 is not in the database.
Show 843 is not in the database.
Show 844 is not in the database.
Show 845 is not in the database.
Show 846 is not in the database.
Show 847 is not in the database.
Show 848 is not in the database.
Show 849 is not in the database.
Show 850 is not in the database.
Show 851 is not in the database.
Show 852 is not in the database.
Show 853 is not in the database.
Show 854 is not in the database.
Show 855 is not in the database.
Show 856 is not in the database.
Show 857 is not in the database.
Show 858 is not in the database.
Show 859 is not in the database.
Show 860 is not in the database.
Show 861 is not in the database.
Show 862 is not in the database.
Show 863 is not in the database.
Show 864 is not in the database.
Show 865 is not in the database.
Show 866 is not in the database.
Show 867 is not in the database.
Show 868 is not in the database.
Show 869 is not in the database.
Show 870 is not in the database.
Show 871 is not in the database.
Show 872 is not in the database.
Show 873 is not in the database.
Show 874 is not in the database.
Show 875 is not in the database.
Show 876 is not in the database.
Show 877 is not in the database.
Show 878 is not in the database.
Show 879 is not in the database.
Show 880 is not in the database.
Show 881 is not in the database.
Show 882 is not in the database.
Show 883 is not in the database.
Show 884 is not in the database.
Show 885 is not in the database.
Show 886 is not in the database.
Show 887 is not in the database.
Show 888 is not in the database.
Show 889 is not in the database.
Show 890 is not in the database.
Show 891 is not in the database.
Show 892 is not in the database.
Show 893 is not in the database.
Show 894 is not in the database.
Show 895 is not in the database.
Show 896 is not in the database.
Show 898 is not in the database.
Show 899 is not in the database.
Show 900 is not in the database.
Show 901 is not in the database.
Show 903 is not in the database.
Show 904 is not in the database.
Show 905 is not in the database.
Show 906 is not in the database.
Show 907 is not in the database.
Show 908 is not in the database.
Show 909 is not in the database.
Show 910 is not in the database.
Show 911 is not in the database.
Show 912 is not in the database.
Show 913 is not in the database.
Show 914 is not in the database.
Show 915 is not in the database.
Show 916 is not in the database.
Show 917 is not in the database.
Show 918 is not in the database.
Show 919 is not in the database.
Show 920 is not in the database.
Show 921 is not in the database.
Show 922 is not in the database.
Show 923 is not in the database.
Show 924 is not in the database.
Show 925 is not in the database.
Show 926 is not in the database.
Show 927 is not in the database.
Show 928 is not in the database.
Show 929 is not in the database.
Show 930 is not in the database.
Show 931 is not in the database.
Show 932 is not in the database.
Show 933 is not in the database.
Show 934 is not in the database.
Show 935 is not in the database.
Show 936 is not in the database.
Show 937 is not in the database.
Show 938 is not in the database.
Show 939 is not in the database.
Show 940 is not in the database.
Show 941 is not in the database.
Show 942 is not in the database.
Show 943 is not in the database.
Show 944 is not in the database.
Show 945 is not in the database.
Show 946 is not in the database.
Show 947 is not in the database.
Show 948 is not in the database.
Show 949 is not in the database.
Show 950 is not in the database.
Show 951 is not in the database.
Show 952 is not in the database.
Show 953 is not in the database.
Show 954 is not in the database.
Show 955 is not in the database.
Show 956 is not in the database.
Show 957 is not in the database.
Show 959 is not in the database.
Show 960 is not in the database.
Show 971 is not in the database.
Show 972 is not in the database.
Show 973 is not in the database.
Show 974 is not in the database.
Show 975 is not in the database.
Show 976 is not in the database.
Show 977 is not in the database.
Show 978 is not in the database.
Show 979 is not in the database.
Show 981 is not in the database.
Show 982 is not in the database.
Show 983 is not in the database.
Show 984 is not in the database.
Show 985 is not in the database.
Show 986 is not in the database.
Show 987 is not in the database.
Show 988 is not in the database.
Show 989 is not in the database.
Show 990 is not in the database.
Show 991 is not in the database.
Show 992 is not in the database.
Show 993 is not in the database.
Show 994 is not in the database.
Show 995 is not in the database.
Show 996 is not in the database.
Show 997 is not in the database.
Show 998 is not in the database.
Show 999 is not in the database.
Show 1000 is not in the database.
Show 1001 is not in the database.
Show 1003 is not in the database.
Show 1004 is not in the database.
Show 1005 is not in the database.
Show 1006 is not in the database.
Show 1007 is not in the database.
Show 1008 is not in the database.
Show 1009 is not in the database.
Show 1010 is not in the database.
Show 1011 is not in the database.
Show 1012 is not in the database.
Show 1013 is not in the database.
Show 1014 is not in the database.
Show 1015 is not in the database.
Show 1016 is not in the database.
Show 1017 is not in the database.
Show 1018 is not in the database.
Show 1019 is not in the database.
Show 1020 is not in the database.
Show 1021 is not in the database.
Show 1022 is not in the database.
Show 1023 is not in the database.
Show 1024 is not in the database.
Show 1025 is not in the database.
Show 1026 is not in the database.
Show 1027 is not in the database.
Show 1028 is not in the database.
Show 1029 is not in the database.
Show 1030 is not in the database.
Show 1031 is not in the database.
Show 1032 is not in the database.
Show 1033 is not in the database.
Show 1034 is not in the database.
Show 1035 is not in the database.
Show 1036 is not in the database.
Show 1037 is not in the database.
Show 1038 is not in the database.
Show 1039 is not in the database.
Show 1040 is not in the database.
Show 1041 is not in the database.
Show 1042 is not in the database.
Show 1043 is not in the database.
Show 1044 is not in the database.
Show 1045 is not in the database.
Show 1046 is not in the database.
Show 1047 is not in the database.
Show 1048 is not in the database.

Show 1049 is not in the database.
Show 1050 is not in the database.
Show 1051 is not in the database.
Show 1052 is not in the database.
Show 1053 is not in the database.
Show 1054 is not in the database.
Show 1055 is not in the database.
Show 1056 is not in the database.
Show 1057 is not in the database.
Show 1058 is not in the database.
Show 1059 is not in the database.
Show 1060 is not in the database.
Show 1061 is not in the database.
Show 1062 is not in the database.
Show 1063 is not in the database.
Show 1064 is not in the database.
Show 1065 is not in the database.
Show 1066 is not in the database.
Show 1067 is not in the database.
Show 1068 is not in the database.
Show 1069 is not in the database.
Show 1070 is not in the database.
Show 1071 is not in the database.
Show 1072 is not in the database.
Show 1073 is not in the database.
Show 1074 is not in the database.
Show 1075 is not in the database.
Show 1076 is not in the database.
Show 1077 is not in the database.
Show 1078 is not in the database.
Show 1079 is not in the database.
Show 1080 is not in the database.
Show 1081 is not in the database.
Show 1082 is not in the database.
Show 1083 is not in the database.
Show 1084 is not in the database.
Show 1085 is not in the database.
Show 1086 is not in the database.
Show 1087 is not in the database.
Show 1088 is not in the database.
Show 1089 is not in the database.
Show 1090 is not in the database.
Show 1091 is not in the database.
Show 1092 is not in the database.
Show 1093 is not in the database.
Show 1094 is not in the database.
Show 1095 is not in the database.
Show 1096 is not in the database.
Show 1097 is not in the database.
Show 1098 is not in the database.
Show 1099 is not in the database.
Show 1100 is not in the database.
Show 1101 is not in the database.
Show 1107 is not in the database.
Show 1108 is not in the database.
Show 1109 is not in the database.
Show 1110 is not in the database.
Show 1111 is not in the database.
Show 1112 is not in the database.
Show 1113 is not in the database.
Show 1114 is not in the database.
Show 1115 is not in the database.
Show 1116 is not in the database.
Show 1117 is not in the database.
Show 1118 is not in the database.
Show 1119 is not in the database.
Show 1120 is not in the database.
Show 1121 is not in the database.
Show 1122 is not in the database.
Show 1123 is not in the database.
Show 1124 is not in the database.
Show 1125 is not in the database.
Show 1126 is not in the database.
Show 1127 is not in the database.
Show 1128 is not in the database.
Show 1129 is not in the database.
Show 1130 is not in the database.
Show 1131 is not in the database.
Show 1132 is not in the database.
Show 1133 is not in the database.
Show 1134 is not in the database.
Show 1135 is not in the database.
Show 1136 is not in the database.
Show 1137 is not in the database.
Show 1138 is not in the database.
Show 1139 is not in the database.
Show 1140 is not in the database.
Show 1141 is not in the database.
Show 1142 is not in the database.
Show 1143 is not in the database.
Show 1144 is not in the database.
Show 1145 is not in the database.
Show 1146 is not in the database.
Show 1148 is not in the database.
Show 1149 is not in the database.
Show 1151 is not in the database.
Show 1153 is not in the database.
Show 1154 is not in the database.
Show 1155 is not in the database.
Show 1156 is not in the database.
Show 1157 is not in the database.
Show 1159 is not in the database.
Show 1160 is not in the database.
Show 1161 is not in the database.
Show 1163 is not in the database.
Show 1165 is not in the database.
Show 1166 is not in the database.
Show 1167 is not in the database.
Show 1168 is not in the database.
Show 1169 is not in the database.
Show 1171 is not in the database.
Show 1172 is not in the database.
Show 1173 is not in the database.
Show 1174 is not in the database.
Show 1176 is not in the database.
No Double Jeopardy! questions for show 1178
No Final Jeopardy! questions for show 1178
Show 1179 is not in the database.
Show 1180 is not in the database.
Show 1181 is not in the database.
Show 1182 is not in the database.
Show 1183 is not in the database.
Show 1184 is not in the database.
Show 1186 is not in the database.
Show 1187 is not in the database.
Show 1188 is not in the database.
Show 1189 is not in the database.
Show 1201 is not in the database.
Show 1202 is not in the database.
Show 1203 is not in the database.
Show 1204 is not in the database.
Show 1205 is not in the database.
Show 1207 is not in the database.
Show 1208 is not in the database.
Show 1209 is not in the database.
Show 1211 is not in the database.
Show 1212 is not in the database.
Show 1213 is not in the database.
Show 1216 is not in the database.
Show 1217 is not in the database.
Show 1218 is not in the database.
Show 1219 is not in the database.
Show 1220 is not in the database.
Show 1222 is not in the database.
Show 1223 is not in the database.
Show 1225 is not in the database.
Show 1226 is not in the database.
Show 1228 is not in the database.
Show 1229 is not in the database.
Show 1231 is not in the database.
Show 1232 is not in the database.
Show 1233 is not in the database.
Show 1234 is not in the database.
Show 1235 is not in the database.
Show 1242 is not in the database.
Show 1243 is not in the database.
Show 1244 is not in the database.
Show 1248 is not in the database.
Show 1249 is not in the database.
Show 1253 is not in the database.
Show 1256 is not in the database.
Show 1258 is not in the database.
Show 1259 is not in the database.
Show 1261 is not in the database.
Show 1264 is not in the database.
Show 1268 is not in the database.
Show 1269 is not in the database.
Show 1270 is not in the database.
Show 1275 is not in the database.
Show 1277 is not in the database.
Show 1278 is not in the database.
Show 1280 is not in the database.
Show 1282 is not in the database.
Show 1284 is not in the database.
Show 1287 is not in the database.
Show 1288 is not in the database.
No Final Jeopardy! questions for show 1290
Show 1292 is not in the database.
Show 1293 is not in the database.
Show 1297 is not in the database.
Show 1298 is not in the database.
Show 1299 is not in the database.
Show 1301 is not in the database.
Show 1303 is not in the database.
Show 1304 is not in the database.
Show 1305 is not in the database.
Show 1306 is not in the database.
Show 1310 is not in the database.
Show 1313 is not in the database.
Show 1314 is not in the database.
Show 1315 is not in the database.
Show 1316 is not in the database.
Show 1321 is not in the database.
Show 1334 is not in the database.
Show 1335 is not in the database.
Show 1336 is not in the database.
Show 1337 is not in the database.
Show 1338 is not in the database.
Show 1341 is not in the database.
Show 1342 is not in the database.
Show 1343 is not in the database.
Show 1344 is not in the database.
Show 1345 is not in the database.
Show 1346 is not in the database.
Show 1347 is not in the database.
Show 1348 is not in the database.
Show 1349 is not in the database.
Show 1350 is not in the database.
Show 1351 is not in the database.
Show 1352 is not in the database.
Show 1353 is not in the database.
Show 1354 is not in the database.
Show 1355 is not in the database.
Show 1356 is not in the database.
Show 1357 is not in the database.
Show 1358 is not in the database.
Show 1359 is not in the database.
Show 1360 is not in the database.
Show 1361 is not in the database.
Show 1362 is not in the database.
Show 1363 is not in the database.
Show 1364 is not in the database.
Show 1365 is not in the database.
Show 1366 is not in the database.
Show 1367 is not in the database.
Show 1368 is not in the database.
Show 1369 is not in the database.
Show 1370 is not in the database.
Show 1371 is not in the database.
Show 1372 is not in the database.
Show 1373 is not in the database.
Show 1374 is not in the database.
Show 1375 is not in the database.
Show 1377 is not in the database.
Show 1378 is not in the database.
Show 1379 is not in the database.
Show 1380 is not in the database.
Show 1381 is not in the database.
Show 1382 is not in the database.
Show 1383 is not in the database.
Show 1384 is not in the database.
Show 1385 is not in the database.
Show 1386 is not in the database.
Show 1387 is not in the database.
Show 1388 is not in the database.
Show 1389 is not in the database.
Show 1390 is not in the database.
Show 1391 is not in the database.
Show 1392 is not in the database.
Show 1393 is not in the database.
Show 1394 is not in the database.
Show 1395 is not in the database.
Show 1396 is not in the database.
Show 1397 is not in the database.
Show 1398 is not in the database.
Show 1399 is not in the database.
Show 1400 is not in the database.
Show 1401 is not in the database.
Show 1402 is not in the database.
Show 1403 is not in the database.
Show 1404 is not in the database.
Show 1405 is not in the database.
Show 1406 is not in the database.
Show 1407 is not in the database.
Show 1408 is not in the database.
Show 1409 is not in the database.
Show 1410 is not in the database.
Show 1411 is not in the database.
Show 1412 is not in the database.
Show 1413 is not in the database.
Show 1414 is not in the database.
Show 1415 is not in the database.
Show 1416 is not in the database.
Show 1417 is not in the database.
Show 1418 is not in the database.
Show 1419 is not in the database.
Show 1420 is not in the database.
Show 1431 is not in the database.
Show 1432 is not in the database.
Show 1433 is not in the database.
Show 1434 is not in the database.
Show 1435 is not in the database.
Show 1436 is not in the database.
Show 1437 is not in the database.
Show 1438 is not in the database.
Show 1439 is not in the database.
Show 1440 is not in the database.
Show 1441 is not in the database.
Show 1442 is not in the database.
Show 1443 is not in the database.
Show 1444 is not in the database.
Show 1445 is not in the database.
Show 1446 is not in the database.
Show 1447 is not in the database.
Show 1448 is not in the database.
Show 1449 is not in the database.
Show 1450 is not in the database.
Show 1451 is not in the database.
Show 1452 is not in the database.
Show 1453 is not in the database.
Show 1454 is not in the database.
Show 1455 is not in the database.
Show 1456 is not in the database.
Show 1457 is not in the database.
Show 1458 is not in the database.
Show 1459 is not in the database.
Show 1460 is not in the database.
Show 1461 is not in the database.
Show 1462 is not in the database.
Show 1463 is not in the database.
Show 1464 is not in the database.
Show 1465 is not in the database.
Show 1466 is not in the database.
Show 1467 is not in the database.
Show 1468 is not in the database.
Show 1469 is not in the database.
Show 1470 is not in the database.
Show 1471 is not in the database.
Show 1472 is not in the database.
Show 1473 is not in the database.
Show 1475 is not in the database.
Show 1476 is not in the database.
Show 1477 is not in the database.
Show 1478 is not in the database.
Show 1479 is not in the database.
Show 1481 is not in the database.
Show 1482 is not in the database.
Show 1483 is not in the database.
Show 1484 is not in the database.
Show 1485 is not in the database.
Show 1487 is not in the database.
Show 1488 is not in the database.
Show 1489 is not in the database.
Show 1490 is not in the database.
Show 1491 is not in the database.
Show 1492 is not in the database.
Show 1493 is not in the database.
Show 1494 is not in the database.
Show 1495 is not in the database.
Show 1496 is not in the database.
Show 1497 is not in the database.
Show 1499 is not in the database.
Show 1500 is not in the database.
Show 1501 is not in the database.
Show 1502 is not in the database.
Show 1503 is not in the database.
Show 1504 is not in the database.
Show 1505 is not in the database.
Show 1506 is not in the database.
Show 1507 is not in the database.
Show 1508 is not in the database.
Show 1509 is not in the database.
Show 1510 is not in the database.
Show 1511 is not in the database.
Show 1512 is not in the database.
Show 1513 is not in the database.
Show 1514 is not in the database.
Show 1515 is not in the database.
Show 1516 is not in the database.
Show 1517 is not in the database.
Show 1518 is not in the database.
Show 1519 is not in the database.
Show 1520 is not in the database.
Show 1521 is not in the database.
Show 1522 is not in the database.
Show 1523 is not in the database.
Show 1524 is not in the database.
Show 1527 is not in the database.
Show 1528 is not in the database.
Show 1529 is not in the database.
Show 1530 is not in the database.
Show 1533 is not in the database.
Show 1534 is not in the database.
Show 1535 is not in the database.
Show 1536 is not in the database.
Show 1537 is not in the database.
Show 1538 is not in the database.
Show 1539 is not in the database.
Show 1540 is not in the database.
Show 1541 is not in the database.
Show 1542 is not in the database.
Show 1543 is not in the database.
Show 1544 is not in the database.
Show 1545 is not in the database.
Show 1546 is not in the database.
Show 1547 is not in the database.
Show 1548 is not in the database.
Show 1549 is not in the database.
Show 1550 is not in the database.
Show 1551 is not in the database.
Show 1552 is not in the database.
Show 1553 is not in the database.
Show 1554 is not in the database.
Show 1555 is not in the database.
Show 1556 is not in the database.
Show 1557 is not in the database.
Show 1559 is not in the database.
Show 1560 is not in the database.
Show 1561 is not in the database.
Show 1562 is not in the database.
Show 1563 is not in the database.
Show 1564 is not in the database.
Show 1565 is not in the database.
Show 1566 is not in the database.
Show 1567 is not in the database.
Show 1568 is not in the database.
Show 1569 is not in the database.
Show 1570 is not in the database.
Show 1571 is not in the database.
Show 1572 is not in the database.
Show 1573 is not in the database.
Show 1574 is not in the database.
Show 1575 is not in the database.
Show 1576 is not in the database.
Show 1577 is not in the database.
Show 1578 is not in the database.
Show 1579 is not in the database.
Show 1580 is not in the database.
Show 1581 is not in the database.
Show 1582 is not in the database.
Show 1583 is not in the database.
Show 1584 is not in the database.
Show 1585 is not in the database.
Show 1586 is not in the database.
Show 1587 is not in the database.
Show 1588 is not in the database.
Show 1589 is not in the database.
Show 1590 is not in the database.
Show 1591 is not in the database.
Show 1592 is not in the database.
Show 1593 is not in the database.
Show 1594 is not in the database.
Show 1595 is not in the database.
Show 1596 is not in the database.
Show 1597 is not in the database.
Show 1598 is not in the database.
Show 1599 is not in the database.
Show 1600 is not in the database.
Show 1601 is not in the database.
Show 1602 is not in the database.
Show 1603 is not in the database.
Show 1604 is not in the database.
Show 1606 is not in the database.
Show 1607 is not in the database.
Show 1608 is not in the database.
Show 1609 is not in the database.
Show 1610 is not in the database.
Show 1611 is not in the database.
Show 1612 is not in the database.
Show 1613 is not in the database.
Show 1614 is not in the database.
Show 1615 is not in the database.
Show 1616 is not in the database.
Show 1617 is not in the database.
Show 1618 is not in the database.
Show 1619 is not in the database.
Show 1620 is not in the database.
Show 1621 is not in the database.
Show 1622 is not in the database.
Show 1623 is not in the database.
Show 1624 is not in the database.
Show 1625 is not in the database.
Show 1626 is not in the database.
Show 1627 is not in the database.
Show 1628 is not in the database.
Show 1629 is not in the database.
Show 1631 is not in the database.
Show 1632 is not in the database.
Show 1633 is not in the database.
Show 1635 is not in the database.
Show 1636 is not in the database.
Show 1637 is not in the database.
Show 1638 is not in the database.
Show 1640 is not in the database.
Show 1641 is not in the database.
Show 1642 is not in the database.
Show 1643 is not in the database.
Show 1644 is not in the database.
Show 1645 is not in the database.
Show 1646 is not in the database.
Show 1647 is not in the database.
Show 1648 is not in the database.
Show 1649 is not in the database.
Show 1650 is not in the database.
Show 1661 is not in the database.
Show 1662 is not in the database.
Show 1663 is not in the database.
Show 1664 is not in the database.
Show 1665 is not in the database.
Show 1666 is not in the database.
Show 1667 is not in the database.
Show 1668 is not in the database.
Show 1669 is not in the database.
Show 1670 is not in the database.
Show 1671 is not in the database.
Show 1672 is not in the database.
Show 1673 is not in the database.
Show 1674 is not in the database.
Show 1675 is not in the database.
Show 1676 is not in the database.
Show 1677 is not in the database.
Show 1678 is not in the database.
Show 1679 is not in the database.
Show 1680 is not in the database.
Show 1681 is not in the database.
Show 1682 is not in the database.
Show 1683 is not in the database.
Show 1684 is not in the database.
Show 1686 is not in the database.
Show 1687 is not in the database.
Show 1688 is not in the database.
Show 1689 is not in the database.
Show 1690 is not in the database.
Show 1691 is not in the database.
Show 1692 is not in the database.
Show 1693 is not in the database.
Show 1694 is not in the database.
Show 1695 is not in the database.
Show 1696 is not in the database.
Show 1697 is not in the database.
Show 1698 is not in the database.
Show 1699 is not in the database.
Show 1700 is not in the database.
Show 1701 is not in the database.
Show 1702 is not in the database.
Show 1703 is not in the database.
Show 1704 is not in the database.
Show 1705 is not in the database.
Show 1706 is not in the database.
Show 1707 is not in the database.
Show 1708 is not in the database.
Show 1709 is not in the database.
Show 1710 is not in the database.
Show 1711 is not in the database.
Show 1712 is not in the database.
Show 1713 is not in the database.
Show 1714 is not in the database.
Show 1715 is not in the database.
Show 1716 is not in the database.
Show 1717 is not in the database.
Show 1718 is not in the database.
Show 1719 is not in the database.
Show 1720 is not in the database.
Show 1721 is not in the database.
Show 1722 is not in the database.
Show 1723 is not in the database.
Show 1724 is not in the database.
Show 1725 is not in the database.
Show 1726 is not in the database.
Show 1727 is not in the database.
Show 1728 is not in the database.
Show 1729 is not in the database.
Show 1730 is not in the database.
Show 1731 is not in the database.
Show 1732 is not in the database.
Show 1733 is not in the database.
Show 1734 is not in the database.
Show 1735 is not in the database.
Show 1736 is not in the database.
Show 1737 is not in the database.
Show 1738 is not in the database.
Show 1739 is not in the database.
Show 1741 is not in the database.
Show 1742 is not in the database.
Show 1743 is not in the database.
Show 1744 is not in the database.
Show 1745 is not in the database.
Show 1746 is not in the database.
Show 1747 is not in the database.
Show 1748 is not in the database.
Show 1749 is not in the database.
Show 1750 is not in the database.
Show 1751 is not in the database.
Show 1752 is not in the database.
Show 1753 is not in the database.
Show 1754 is not in the database.
Show 1755 is not in the database.
Show 1756 is not in the database.
Show 1757 is not in the database.
Show 1758 is not in the database.
Show 1759 is not in the database.
Show 1760 is not in the database.
Show 1761 is not in the database.
Show 1762 is not in the database.
Show 1763 is not in the database.
Show 1764 is not in the database.
Show 1765 is not in the database.

Show 1783 is not in the database.
Show 1784 is not in the database.
Show 1785 is not in the database.
Show 1786 is not in the database.
Show 1787 is not in the database.
Show 1788 is not in the database.
Show 1789 is not in the database.
Show 1796 is not in the database.
Show 1797 is not in the database.
Show 1798 is not in the database.
Show 1801 is not in the database.
Show 1802 is not in the database.
Show 1803 is not in the database.
Show 1804 is not in the database.
Show 1805 is not in the database.
Show 1806 is not in the database.
Show 1807 is not in the database.
Show 1808 is not in the database.
Show 1809 is not in the database.
Show 1810 is not in the database.
Show 1811 is not in the database.
Show 1812 is not in the database.
Show 1813 is not in the database.
Show 1814 is not in the database.
Show 1815 is not in the database.
Show 1816 is not in the database.
Show 1817 is not in the database.
Show 1818 is not in the database.
Show 1819 is not in the database.
Show 1820 is not in the database.
Show 1821 is not in the database.
Show 1822 is not in the database.
Show 1823 is not in the database.
Show 1824 is not in the database.
Show 1825 is not in the database.
Show 1826 is not in the database.
Show 1827 is not in the database.
Show 1828 is not in the database.
Show 1829 is not in the database.
Show 1830 is not in the database.
Show 1831 is not in the database.
Show 1832 is not in the database.
Show 1833 is not in the database.
Show 1834 is not in the database.
Show 1835 is not in the database.
Show 1836 is not in the database.
Show 1838 is not in the database.
Show 1839 is not in the database.
Show 1840 is not in the database.
Show 1841 is not in the database.
Show 1842 is not in the database.
Show 1843 is not in the database.
Show 1844 is not in the database.
Show 1845 is not in the database.
Show 1846 is not in the database.
Show 1847 is not in the database.
Show 1848 is not in the database.
Show 1849 is not in the database.
Show 1850 is not in the database.
Show 1852 is not in the database.
Show 1853 is not in the database.
Show 1854 is not in the database.
Show 1855 is not in the database.
Show 1857 is not in the database.
Show 1858 is not in the database.
Show 1859 is not in the database.
Show 1860 is not in the database.
Show 1861 is not in the database.
Show 1863 is not in the database.
Show 1864 is not in the database.
Show 1865 is not in the database.
Show 1866 is not in the database.
Show 1867 is not in the database.
Show 1868 is not in the database.
Show 1869 is not in the database.
Show 1870 is not in the database.
Show 1876 is not in the database.
Show 1877 is not in the database.
Show 1878 is not in the database.
Show 1879 is not in the database.
Show 1880 is not in the database.
Show 1891 is not in the database.
Show 1892 is not in the database.
Show 1893 is not in the database.
Show 1894 is not in the database.
Show 1895 is not in the database.
Show 1896 is not in the database.
Show 1897 is not in the database.
Show 1898 is not in the database.
Show 1899 is not in the database.
Show 1900 is not in the database.
Show 1901 is not in the database.
Show 1902 is not in the database.
Show 1903 is not in the database.
Show 1904 is not in the database.
Show 1909 is not in the database.
Show 1910 is not in the database.
Show 1911 is not in the database.
Show 1912 is not in the database.
Show 1913 is not in the database.
Show 1914 is not in the database.
Show 1915 is not in the database.
Show 1916 is not in the database.
Show 1917 is not in the database.
Show 1918 is not in the database.
Show 1919 is not in the database.
Show 1920 is not in the database.
Show 1921 is not in the database.
Show 1922 is not in the database.
Show 1923 is not in the database.
Show 1924 is not in the database.
Show 1925 is not in the database.
Show 1926 is not in the database.
Show 1927 is not in the database.
Show 1928 is not in the database.
Show 1929 is not in the database.
Show 1930 is not in the database.
Show 1931 is not in the database.
Show 1933 is not in the database.
Show 1934 is not in the database.
Show 1935 is not in the database.
Show 1936 is not in the database.
Show 1937 is not in the database.
Show 1938 is not in the database.
Show 1939 is not in the database.
Show 1940 is not in the database.
Show 1941 is not in the database.
Show 1942 is not in the database.
Show 1943 is not in the database.
Show 1944 is not in the database.
Show 1946 is not in the database.
Show 1947 is not in the database.
Show 1948 is not in the database.
Show 1949 is not in the database.
Show 1950 is not in the database.
Show 1951 is not in the database.
Show 1952 is not in the database.
Show 1953 is not in the database.
Show 1954 is not in the database.
Show 1955 is not in the database.
Show 1956 is not in the database.
Show 1957 is not in the database.
Show 1958 is not in the database.
Show 1959 is not in the database.
Show 1960 is not in the database.
Show 1961 is not in the database.
Show 1962 is not in the database.
Show 1963 is not in the database.
Show 1964 is not in the database.
Show 1965 is not in the database.
Show 1966 is not in the database.
Show 1967 is not in the database.
Show 1968 is not in the database.
Show 1969 is not in the database.
Show 1970 is not in the database.
Show 1971 is not in the database.
Show 1972 is not in the database.
Show 1973 is not in the database.
Show 1974 is not in the database.
Show 1975 is not in the database.
Show 1976 is not in the database.
Show 1977 is not in the database.
Show 1978 is not in the database.
Show 1979 is not in the database.
Show 1980 is not in the database.
Show 1981 is not in the database.
Show 1982 is not in the database.
Show 1986 is not in the database.
Show 1987 is not in the database.
Show 1988 is not in the database.
Show 1989 is not in the database.
Show 1990 is not in the database.
Show 1991 is not in the database.
Show 1992 is not in the database.
Show 1993 is not in the database.
Show 1994 is not in the database.
Show 1995 is not in the database.
Show 1996 is not in the database.
Show 1997 is not in the database.
Show 1998 is not in the database.
Show 1999 is not in the database.
Show 2000 is not in the database.
Show 2001 is not in the database.
Show 2002 is not in the database.
Show 2003 is not in the database.
Show 2004 is not in the database.
Show 2005 is not in the database.
Show 2006 is not in the database.
Show 2007 is not in the database.
Show 2008 is not in the database.
Show 2009 is not in the database.
Show 2010 is not in the database.
Show 2011 is not in the database.
Show 2012 is not in the database.
Show 2013 is not in the database.
Show 2014 is not in the database.
Show 2016 is not in the database.
Show 2017 is not in the database.
Show 2018 is not in the database.
Show 2021 is not in the database.
Show 2022 is not in the database.
Show 2023 is not in the database.
Show 2024 is not in the database.
Show 2025 is not in the database.
Show 2026 is not in the database.
Show 2027 is not in the database.
Show 2028 is not in the database.
Show 2029 is not in the database.
Show 2030 is not in the database.
Show 2031 is not in the database.
Show 2032 is not in the database.
Show 2033 is not in the database.
Show 2034 is not in the database.
Show 2035 is not in the database.
Show 2036 is not in the database.
Show 2037 is not in the database.
Show 2040 is not in the database.
Show 2041 is not in the database.
Show 2042 is not in the database.
Show 2043 is not in the database.
Show 2044 is not in the database.
Show 2045 is not in the database.
Show 2053 is not in the database.
Show 2054 is not in the database.
Show 2056 is not in the database.
Show 2057 is not in the database.
Show 2058 is not in the database.
Show 2059 is not in the database.
Show 2060 is not in the database.
Show 2061 is not in the database.
Show 2062 is not in the database.
Show 2063 is not in the database.
Show 2064 is not in the database.
Show 2065 is not in the database.
Show 2066 is not in the database.
Show 2067 is not in the database.
Show 2068 is not in the database.
Show 2069 is not in the database.
Show 2070 is not in the database.
Show 2071 is not in the database.
Show 2072 is not in the database.
Show 2073 is not in the database.
Show 2074 is not in the database.
Show 2075 is not in the database.
Show 2076 is not in the database.
Show 2077 is not in the database.
Show 2078 is not in the database.
Show 2079 is not in the database.
Show 2080 is not in the database.
Show 2081 is not in the database.
Show 2082 is not in the database.
Show 2083 is not in the database.
Show 2084 is not in the database.
Show 2085 is not in the database.
Show 2086 is not in the database.

Show 2087 is not in the database.
Show 2088 is not in the database.
Show 2089 is not in the database.
Show 2090 is not in the database.
Show 2091 is not in the database.
Show 2092 is not in the database.
Show 2093 is not in the database.
Show 2094 is not in the database.
Show 2095 is not in the database.
Show 2096 is not in the database.
Show 2097 is not in the database.
Show 2098 is not in the database.
Show 2099 is not in the database.
Show 2100 is not in the database.
Show 2101 is not in the database.
Show 2102 is not in the database.
Show 2103 is not in the database.
Show 2104 is not in the database.
Show 2105 is not in the database.
Show 2106 is not in the database.
Show 2107 is not in the database.
Show 2108 is not in the database.
Show 2109 is not in the database.
Show 2110 is not in the database.
Show 2111 is not in the database.
Show 2112 is not in the database.
Show 2113 is not in the database.
Show 2114 is not in the database.
Show 2115 is not in the database.
Show 2131 is not in the database.
Show 2132 is not in the database.
Show 2133 is not in the database.
Show 2134 is not in the database.
Show 2135 is not in the database.
Show 2136 is not in the database.
Show 2137 is not in the database.
Show 2138 is not in the database.
Show 2139 is not in the database.
Show 2140 is not in the database.
Show 2141 is not in the database.
Show 2142 is not in the database.
Show 2144 is not in the database.
Show 2145 is not in the database.
Show 2146 is not in the database.
Show 2147 is not in the database.
Show 2148 is not in the database.
Show 2149 is not in the database.
Show 2151 is not in the database.
Show 2152 is not in the database.
Show 2153 is not in the database.
Show 2154 is not in the database.
Show 2155 is not in the database.
Show 2156 is not in the database.
Show 2157 is not in the database.
Show 2158 is not in the database.
Show 2159 is not in the database.
Show 2160 is not in the database.
Show 2161 is not in the database.
Show 2162 is not in the database.
Show 2163 is not in the database.
Show 2164 is not in the database.
Show 2165 is not in the database.
Show 2166 is not in the database.
Show 2167 is not in the database.
Show 2168 is not in the database.
Show 2169 is not in the database.
Show 2170 is not in the database.
Show 2171 is not in the database.
Show 2172 is not in the database.
Show 2173 is not in the database.
Show 2174 is not in the database.
Show 2175 is not in the database.
Show 2176 is not in the database.
Show 2177 is not in the database.
Show 2178 is not in the database.
Show 2179 is not in the database.
Show 2180 is not in the database.
Show 2181 is not in the database.
Show 2182 is not in the database.
Show 2183 is not in the database.
Show 2184 is not in the database.
Show 2185 is not in the database.
Show 2186 is not in the database.
Show 2187 is not in the database.
Show 2188 is not in the database.
Show 2189 is not in the database.
Show 2190 is not in the database.
Show 2191 is not in the database.
Show 2192 is not in the database.
Show 2193 is not in the database.
Show 2194 is not in the database.
Show 2195 is not in the database.
Show 2196 is not in the database.
Show 2197 is not in the database.
Show 2198 is not in the database.
Show 2199 is not in the database.
Show 2200 is not in the database.
Show 2201 is not in the database.
Show 2202 is not in the database.
Show 2203 is not in the database.
Show 2204 is not in the database.
Show 2205 is not in the database.
Show 2206 is not in the database.
Show 2208 is not in the database.
Show 2209 is not in the database.
Show 2210 is not in the database.
Show 2211 is not in the database.
Show 2212 is not in the database.
Show 2213 is not in the database.
Show 2214 is not in the database.
Show 2215 is not in the database.
Show 2216 is not in the database.
Show 2217 is not in the database.
Show 2218 is not in the database.
Show 2219 is not in the database.
Show 2220 is not in the database.
Show 2221 is not in the database.
Show 2222 is not in the database.
Show 2223 is not in the database.
Show 2224 is not in the database.
Show 2225 is not in the database.
Show 2226 is not in the database.
Show 2227 is not in the database.
Show 2228 is not in the database.
Show 2229 is not in the database.
Show 2230 is not in the database.
Show 2231 is not in the database.
Show 2232 is not in the database.
Show 2233 is not in the database.
Show 2234 is not in the database.
Show 2235 is not in the database.
Show 2237 is not in the database.
Show 2238 is not in the database.
Show 2239 is not in the database.
Show 2240 is not in the database.
Show 2241 is not in the database.
Show 2242 is not in the database.
Show 2243 is not in the database.
Show 2244 is not in the database.
Show 2245 is not in the database.
Show 2246 is not in the database.
Show 2247 is not in the database.
Show 2248 is not in the database.
Show 2249 is not in the database.
Show 2250 is not in the database.
Show 2252 is not in the database.
Show 2253 is not in the database.
Show 2254 is not in the database.
Show 2255 is not in the database.
Show 2256 is not in the database.
Show 2257 is not in the database.
Show 2258 is not in the database.
Show 2259 is not in the database.
Show 2260 is not in the database.
Show 2261 is not in the database.
Show 2262 is not in the database.
Show 2263 is not in the database.
Show 2264 is not in the database.
Show 2265 is not in the database.
Show 2266 is not in the database.
Show 2267 is not in the database.
Show 2268 is not in the database.
Show 2269 is not in the database.
Show 2270 is not in the database.
Show 2271 is not in the database.
Show 2272 is not in the database.
Show 2273 is not in the database.
Show 2274 is not in the database.
Show 2275 is not in the database.
Show 2276 is not in the database.
Show 2277 is not in the database.
Show 2278 is not in the database.
Show 2279 is not in the database.
Show 2280 is not in the database.
Show 2281 is not in the database.
Show 2282 is not in the database.
Show 2283 is not in the database.
Show 2284 is not in the database.
Show 2285 is not in the database.
Show 2286 is not in the database.
Show 2287 is not in the database.
Show 2288 is not in the database.
Show 2289 is not in the database.
Show 2290 is not in the database.
Show 2291 is not in the database.
Show 2292 is not in the database.
Show 2293 is not in the database.
Show 2294 is not in the database.
Show 2295 is not in the database.
Show 2296 is not in the database.
Show 2297 is not in the database.
Show 2298 is not in the database.
Show 2299 is not in the database.
Show 2300 is not in the database.
Show 2301 is not in the database.
Show 2302 is not in the database.
Show 2303 is not in the database.
Show 2304 is not in the database.
Show 2305 is not in the database.
Show 2306 is not in the database.
Show 2307 is not in the database.
Show 2308 is not in the database.
Show 2309 is not in the database.
Show 2310 is not in the database.
Show 2311 is not in the database.
Show 2312 is not in the database.
Show 2313 is not in the database.
Show 2314 is not in the database.
Show 2315 is not in the database.
Show 2316 is not in the database.
Show 2317 is not in the database.
Show 2318 is not in the database.
Show 2319 is not in the database.
Show 2320 is not in the database.
Show 2321 is not in the database.
Show 2322 is not in the database.
Show 2323 is not in the database.
Show 2324 is not in the database.
Show 2325 is not in the database.
Show 2326 is not in the database.
Show 2327 is not in the database.
Show 2328 is not in the database.
Show 2329 is not in the database.
Show 2330 is not in the database.
Show 2331 is not in the database.
Show 2332 is not in the database.
Show 2333 is not in the database.
Show 2334 is not in the database.
Show 2335 is not in the database.
Show 2336 is not in the database.
Show 2337 is not in the database.
Show 2338 is not in the database.
Show 2342 is not in the database.
Show 2343 is not in the database.
Show 2344 is not in the database.
Show 2345 is not in the database.
Show 2356 is not in the database.
Show 2359 is not in the database.
Show 2360 is not in the database.
Show 2361 is not in the database.
Show 2362 is not in the database.
Show 2363 is not in the database.
Show 2364 is not in the database.
Show 2365 is not in the database.
Show 2366 is not in the database.
Show 2367 is not in the database.
Show 2368 is not in the database.
Show 2369 is not in the database.
Show 2370 is not in the database.
Show 2371 is not in the database.
Show 2372 is not in the database.
Show 2373 is not in the database.
Show 2374 is not in the database.
Show 2375 is not in the database.
Show 2376 is not in the database.
Show 2377 is not in the database.
Show 2379 is not in the database.
Show 2380 is not in the database.
Show 2381 is not in the database.
Show 2382 is not in the database.
Show 2383 is not in the database.
Show 2384 is not in the database.
Show 2385 is not in the database.
Show 2386 is not in the database.
Show 2387 is not in the database.
Show 2388 is not in the database.
Show 2389 is not in the database.
Show 2390 is not in the database.
Show 2391 is not in the database.
Show 2392 is not in the database.
Show 2393 is not in the database.
Show 2394 is not in the database.
Show 2395 is not in the database.
Show 2396 is not in the database.
Show 2397 is not in the database.
Show 2398 is not in the database.
Show 2399 is not in the database.
Show 2400 is not in the database.
Show 2401 is not in the database.
Show 2402 is not in the database.
Show 2403 is not in the database.
Show 2404 is not in the database.
Show 2405 is not in the database.
Show 2406 is not in the database.
Show 2407 is not in the database.
Show 2408 is not in the database.
Show 2409 is not in the database.
Show 2410 is not in the database.
Show 2411 is not in the database.
Show 2412 is not in the database.
Show 2413 is not in the database.
Show 2414 is not in the database.
Show 2415 is not in the database.
Show 2416 is not in the database.
Show 2417 is not in the database.
Show 2418 is not in the database.
Show 2419 is not in the database.
Show 2420 is not in the database.
Show 2421 is not in the database.
Show 2422 is not in the database.
Show 2423 is not in the database.
Show 2424 is not in the database.
Show 2425 is not in the database.
Show 2426 is not in the database.
Show 2427 is not in the database.
Show 2428 is not in the database.
Show 2429 is not in the database.
Show 2430 is not in the database.
Show 2431 is not in the database.
Show 2432 is not in the database.
Show 2433 is not in the database.
Show 2434 is not in the database.
Show 2435 is not in the database.
Show 2436 is not in the database.
Show 2437 is not in the database.
Show 2438 is not in the database.
Show 2439 is not in the database.
Show 2440 is not in the database.
Show 2441 is not in the database.
Show 2442 is not in the database.
Show 2443 is not in the database.
Show 2444 is not in the database.
Show 2445 is not in the database.
Show 2446 is not in the database.
Show 2447 is not in the database.
Show 2448 is not in the database.
Show 2449 is not in the database.
Show 2450 is not in the database.
Show 2451 is not in the database.
Show 2452 is not in the database.
Show 2453 is not in the database.
Show 2454 is not in the database.
Show 2455 is not in the database.
Show 2456 is not in the database.
Show 2457 is not in the database.
Show 2458 is not in the database.
Show 2459 is not in the database.
Show 2460 is not in the database.
Show 2461 is not in the database.
Show 2462 is not in the database.
Show 2463 is not in the database.
Show 2464 is not in the database.
Show 2465 is not in the database.
Show 2466 is not in the database.
Show 2467 is not in the database.
Show 2468 is not in the database.
Show 2469 is not in the database.
Show 2470 is not in the database.
Show 2471 is not in the database.
Show 2472 is not in the database.
Show 2473 is not in the database.
Show 2474 is not in the database.
Show 2475 is not in the database.
Show 2476 is not in the database.
Show 2477 is not in the database.
Show 2478 is not in the database.
Show 2479 is not in the database.
Show 2480 is not in the database.
Show 2481 is not in the database.
Show 2482 is not in the database.
Show 2483 is not in the database.
Show 2484 is not in the database.
Show 2485 is not in the database.
Show 2486 is not in the database.
Show 2487 is not in the database.
Show 2488 is not in the database.
Show 2489 is not in the database.
Show 2490 is not in the database.
Show 2491 is not in the database.
Show 2492 is not in the database.
Show 2493 is not in the database.
Show 2494 is not in the database.
Show 2495 is not in the database.
Show 2496 is not in the database.
Show 2497 is not in the database.
Show 2498 is not in the database.
Show 2499 is not in the database.
Show 2500 is not in the database.
Show 2501 is not in the database.
Show 2502 is not in the database.
Show 2503 is not in the database.
Show 2504 is not in the database.
Show 2505 is not in the database.
Show 2506 is not in the database.
Show 2507 is not in the database.
Show 2508 is not in the database.
Show 2509 is not in the database.
Show 2510 is not in the database.
Show 2511 is not in the database.

Show 2516 is not in the database.
Show 2517 is not in the database.
Show 2518 is not in the database.
Show 2519 is not in the database.
Show 2520 is not in the database.
Show 2521 is not in the database.
Show 2522 is not in the database.
Show 2523 is not in the database.
Show 2524 is not in the database.
Show 2525 is not in the database.
Show 2526 is not in the database.
Show 2527 is not in the database.
Show 2528 is not in the database.
Show 2529 is not in the database.
Show 2530 is not in the database.
Show 2531 is not in the database.
Show 2532 is not in the database.
Show 2533 is not in the database.
Show 2534 is not in the database.
Show 2535 is not in the database.
Show 2536 is not in the database.
Show 2537 is not in the database.
Show 2538 is not in the database.
Show 2539 is not in the database.
Show 2540 is not in the database.
Show 2542 is not in the database.
Show 2544 is not in the database.
Show 2545 is not in the database.
Show 2546 is not in the database.
Show 2547 is not in the database.
Show 2548 is not in the database.
Show 2549 is not in the database.
Show 2550 is not in the database.
Show 2551 is not in the database.
Show 2552 is not in the database.
Show 2553 is not in the database.
Show 2554 is not in the database.
Show 2555 is not in the database.
Show 2556 is not in the database.
Show 2557 is not in the database.
Show 2558 is not in the database.
Show 2559 is not in the database.
Show 2560 is not in the database.
Show 2561 is not in the database.
Show 2562 is not in the database.
Show 2563 is not in the database.
Show 2564 is not in the database.
Show 2565 is not in the database.
Show 2566 is not in the database.
Show 2567 is not in the database.
Show 2568 is not in the database.
Show 2569 is not in the database.
Show 2570 is not in the database.
Show 2573 is not in the database.
Show 2574 is not in the database.
Show 2575 is not in the database.
Show 2586 is not in the database.
Show 2587 is not in the database.
Show 2588 is not in the database.
Show 2589 is not in the database.
Show 2590 is not in the database.
Show 2591 is not in the database.
Show 2592 is not in the database.
Show 2593 is not in the database.
Show 2594 is not in the database.
Show 2596 is not in the database.
Show 2597 is not in the database.
Show 2598 is not in the database.
Show 2599 is not in the database.
Show 2600 is not in the database.
Show 2601 is not in the database.
Show 2602 is not in the database.
Show 2603 is not in the database.
Show 2604 is not in the database.
Show 2605 is not in the database.
Show 2606 is not in the database.
Show 2607 is not in the database.
Show 2608 is not in the database.
Show 2609 is not in the database.
Show 2610 is not in the database.
Show 2611 is not in the database.
Show 2612 is not in the database.
Show 2613 is not in the database.
Show 2614 is not in the database.
Show 2615 is not in the database.
Show 2616 is not in the database.
Show 2617 is not in the database.
Show 2618 is not in the database.
Show 2626 is not in the database.
Show 2630 is not in the database.
Show 2634 is not in the database.
Show 2636 is not in the database.
Show 2637 is not in the database.
Show 2638 is not in the database.
Show 2639 is not in the database.
Show 2640 is not in the database.
Show 2641 is not in the database.
Show 2642 is not in the database.
Show 2643 is not in the database.
Show 2644 is not in the database.
Show 2645 is not in the database.
Show 2646 is not in the database.
Show 2647 is not in the database.
Show 2648 is not in the database.
Show 2649 is not in the database.
Show 2650 is not in the database.
Show 2651 is not in the database.
Show 2652 is not in the database.
Show 2653 is not in the database.
Show 2654 is not in the database.
Show 2655 is not in the database.
Show 2656 is not in the database.
Show 2657 is not in the database.
Show 2658 is not in the database.
Show 2659 is not in the database.
Show 2660 is not in the database.
Show 2661 is not in the database.
Show 2662 is not in the database.
Show 2663 is not in the database.
Show 2664 is not in the database.
Show 2665 is not in the database.
Show 2666 is not in the database.
Show 2667 is not in the database.
Show 2668 is not in the database.
Show 2671 is not in the database.
Show 2675 is not in the database.
Show 2678 is not in the database.
Show 2681 is not in the database.
Show 2684 is not in the database.
Show 2687 is not in the database.
Show 2688 is not in the database.
Show 2689 is not in the database.
Show 2690 is not in the database.
Show 2691 is not in the database.
Show 2692 is not in the database.
Show 2693 is not in the database.
Show 2694 is not in the database.
Show 2695 is not in the database.
Show 2696 is not in the database.
Show 2697 is not in the database.
Show 2698 is not in the database.
Show 2699 is not in the database.
Show 2700 is not in the database.
Show 2701 is not in the database.
Show 2702 is not in the database.
Show 2703 is not in the database.
Show 2704 is not in the database.
Show 2705 is not in the database.
Show 2706 is not in the database.
Show 2707 is not in the database.
Show 2708 is not in the database.
Show 2709 is not in the database.
Show 2710 is not in the database.
Show 2711 is not in the database.
Show 2712 is not in the database.
Show 2713 is not in the database.
Show 2714 is not in the database.
Show 2715 is not in the database.
Show 2716 is not in the database.
Show 2717 is not in the database.
Show 2718 is not in the database.
Show 2719 is not in the database.
Show 2720 is not in the database.
Show 2721 is not in the database.
Show 2722 is not in the database.
Show 2723 is not in the database.
Show 2724 is not in the database.
Show 2725 is not in the database.
Show 2726 is not in the database.
Show 2727 is not in the database.
Show 2728 is not in the database.
Show 2729 is not in the database.
Show 2730 is not in the database.
Show 2731 is not in the database.
Show 2732 is not in the database.
Show 2733 is not in the database.
Show 2734 is not in the database.
Show 2738 is not in the database.
Show 2739 is not in the database.
Show 2740 is not in the database.
Show 2741 is not in the database.
Show 2742 is not in the database.
Show 2743 is not in the database.
Show 2744 is not in the database.
Show 2745 is not in the database.
Show 2746 is not in the database.
Show 2747 is not in the database.
Show 2748 is not in the database.
Show 2749 is not in the database.
Show 2750 is not in the database.
Show 2755 is not in the database.
No Double Jeopardy! questions for show 2757
No Final Jeopardy! questions for show 2757
Show 2761 is not in the database.
Show 2763 is not in the database.
Show 2764 is not in the database.
Show 2765 is not in the database.
Show 2766 is not in the database.
Show 2767 is not in the database.
Show 2768 is not in the database.
Show 2769 is not in the database.
Show 2770 is not in the database.
Show 2771 is not in the database.
Show 2772 is not in the database.
Show 2773 is not in the database.
Show 2774 is not in the database.
Show 2775 is not in the database.
Show 2782 is not in the database.
Show 2783 is not in the database.
Show 2784 is not in the database.
Show 2786 is not in the database.
Show 2787 is not in the database.
Show 2788 is not in the database.
Show 2789 is not in the database.
Show 2790 is not in the database.
Show 2791 is not in the database.
Show 2792 is not in the database.
Show 2793 is not in the database.
Show 2794 is not in the database.
Show 2795 is not in the database.
Show 2796 is not in the database.
Show 2797 is not in the database.
Show 2798 is not in the database.
Show 2799 is not in the database.
Show 2800 is not in the database.
Show 2801 is not in the database.
Show 2802 is not in the database.
Show 2803 is not in the database.
Show 2804 is not in the database.
Show 2805 is not in the database.
Show 2822 is not in the database.
Show 2848 is not in the database.
Show 2859 is not in the database.
Show 2864 is not in the database.
Show 2877 is not in the database.
Show 2878 is not in the database.
Show 2887 is not in the database.
Show 2888 is not in the database.
Show 2892 is not in the database.
Show 2917 is not in the database.
Show 2939 is not in the database.

No Double Jeopardy! questions for show 3022
No Final Jeopardy! questions for show 3022
Show 3074 is not in the database.
Show 3176 is not in the database.
Show 3238 is not in the database.
Show 3300 is not in the database.
Show 3406 is not in the database.
Show 3536 is not in the database.
Show 3572 is not in the database.
Show 3594 is not in the database.
Show 3607 is not in the database.
Show 3636 is not in the database.
No Double Jeopardy! questions for show 3656
No Final Jeopardy! questions for show 3656
Show 3866 is not in the database.
Show 3869 is not in the database.
Show 3894 is not in the database.
Show 3895 is not in the database.
Show 3923 is not in the database.
Show 3924 is not in the database.
Show 3925 is not in the database.
Show 3953 is not in the database.
Show 3954 is not in the database.
Show 3955 is not in the database.
Show 3956 is not in the database.
Show 3957 is not in the database.
Show 3958 is not in the database.
Show 3959 is not in the database.
Show 3960 is not in the database.
Show 3961 is not in the database.
Show 3962 is not in the database.
Show 3980 is not in the database.
Show 3981 is not in the database.
Show 3982 is not in the database.
Show 3983 is not in the database.
Show 3985 is not in the database.
Show 3986 is not in the database.
Show 3987 is not in the database.
Show 3988 is not in the database.
Show 3989 is not in the database.
Show 3990 is not in the database.
Show 3991 is not in the database.
Show 3992 is not in the database.
Show 3993 is not in the database.
Show 3994 is not in the database.
Show 3995 is not in the database.
Show 3996 is not in the database.
Show 3997 is not in the database.
Show 3998 is not in the database.
Show 3999 is not in the database.
Show 4000 is not in the database.
Show 4001 is not in the database.
Show 4002 is not in the database.
Show 4003 is not in the database.
Show 4004 is not in the database.
Show 4005 is not in the database.
Show 4006 is not in the database.
Show 4007 is not in the database.
Show 4008 is not in the database.
Show 4009 is not in the database.
Show 4010 is not in the database.
Show 4011 is not in the database.
Show 4012 is not in the database.
Show 4013 is not in the database.
Show 4014 is not in the database.
Show 4015 is not in the database.
Show 4016 is not in the database.
Show 4017 is not in the database.
Show 4018 is not in the database.
Show 4019 is not in the database.
Show 4020 is not in the database.
Show 4021 is not in the database.
Show 4022 is not in the database.
Show 4023 is not in the database.
Show 4024 is not in the database.
Show 4025 is not in the database.
Show 4026 is not in the database.
Show 4027 is not in the database.
Show 4028 is not in the database.
Show 4029 is not in the database.
Show 4030 is not in the database.
Show 4033 is not in the database.
Show 4034 is not in the database.
Show 4035 is not in the database.
Show 4036 is not in the database.
Show 4037 is not in the database.
Show 4038 is not in the database.
Show 4039 is not in the database.
Show 4040 is not in the database.
Show 4043 is not in the database.
Show 4044 is not in the database.
Show 4045 is not in the database.
Show 4046 is not in the database.
Show 4047 is not in the database.
Show 4048 is not in the database.
Show 4049 is not in the database.
Show 4050 is not in the database.
Show 4051 is not in the database.
Show 4052 is not in the database.
Show 4053 is not in the database.
Show 4054 is not in the database.
Show 4055 is not in the database.
Show 4056 is not in the database.
Show 4057 is not in the database.
Show 4058 is not in the database.
Show 4059 is not in the database.
Show 4060 is not in the database.
Show 4061 is not in the database.
Show 4062 is not in the database.
Show 4063 is not in the database.
Show 4064 is not in the database.
Show 4065 is not in the database.
Show 4066 is not in the database.
Show 4067 is not in the database.
Show 4068 is not in the database.
Show 4069 is not in the database.
Show 4070 is not in the database.
Show 4071 is not in the database.
Show 4072 is not in the database.
Show 4073 is not in the database.
Show 4074 is not in the database.
Show 4075 is not in the database.
Show 4076 is not in the database.
Show 4088 is not in the database.
Show 4089 is not in the database.
Show 4090 is not in the database.
Show 4091 is not in the database.
Show 4094 is not in the database.
Show 4095 is not in the database.
Show 4097 is not in the database.
Show 4098 is not in the database.
Show 4099 is not in the database.
Show 4100 is not in the database.
Show 4101 is not in the database.
Show 4108 is not in the database.
Show 4109 is not in the database.
Show 4110 is not in the database.
Show 4111 is not in the database.
Show 4112 is not in the database.
Show 4113 is not in the database.
Show 4114 is not in the database.
Show 4115 is not in the database.
Show 4116 is not in the database.
Show 4117 is not in the database.
Show 4118 is not in the database.
Show 4119 is not in the database.
Show 4120 is not in the database.
Show 4121 is not in the database.
Show 4125 is not in the database.
Show 4126 is not in the database.
Show 4127 is not in the database.
Show 4128 is not in the database.
Show 4129 is not in the database.
Show 4131 is not in the database.
Show 4132 is not in the database.
Show 4133 is not in the database.
Show 4134 is not in the database.
Show 4135 is not in the database.
Show 4203 is not in the database.
Show 4279 is not in the database.
Show 4280 is not in the database.
Show 4291 is not in the database.
No Final Jeopardy! questions for show 4310
Show 4354 is not in the database.
Show 4355 is not in the database.
Show 4371 is not in the database.
Show 4372 is not in the database.
Show 4373 is not in the database.
Show 4374 is not in the database.
Show 4375 is not in the database.
Show 4376 is not in the database.
Show 4377 is not in the database.
Show 4378 is not in the database.
Show 4379 is not in the database.
Show 4381 is not in the database.
Show 4382 is not in the database.
Show 4383 is not in the database.
Show 4384 is not in the database.
Show 4385 is not in the database.
Show 4386 is not in the database.
Show 4387 is not in the database.
Show 4400 is not in the database.
Show 4401 is not in the database.
Show 4402 is not in the database.
Show 4403 is not in the database.
Show 4404 is not in the database.
Show 4405 is not in the database.
Show 4406 is not in the database.
Show 4407 is not in the database.
Show 4408 is not in the database.
Show 4409 is not in the database.
Show 4410 is not in the database.
Show 4412 is not in the database.
Show 4413 is not in the database.
Show 4414 is not in the database.
Show 4415 is not in the database.
Show 4416 is not in the database.
Show 4418 is not in the database.
Show 4419 is not in the database.
Show 4420 is not in the database.
Show 4421 is not in the database.
Show 4422 is not in the database.
Show 4423 is not in the database.
Show 4424 is not in the database.
Show 4425 is not in the database.
Show 4426 is not in the database.
Show 4427 is not in the database.
Show 4428 is not in the database.
Show 4429 is not in the database.
Show 4430 is not in the database.
Show 4431 is not in the database.
Show 4432 is not in the database.
Show 4433 is not in the database.
Show 4434 is not in the database.
Show 4435 is not in the database.
Show 4436 is not in the database.
Show 4437 is not in the database.
Show 4438 is not in the database.
Show 4439 is not in the database.
Show 4440 is not in the database.
Show 4441 is not in the database.
Show 4442 is not in the database.
Show 4443 is not in the database.
Show 4444 is not in the database.
Show 4445 is not in the database.
Show 4446 is not in the database.
Show 4447 is not in the database.
Show 4448 is not in the database.
Show 4449 is not in the database.
Show 4450 is not in the database.
Show 4476 is not in the database.
Show 4477 is not in the database.
Show 4478 is not in the database.
Show 4479 is not in the database.
Show 4480 is not in the database.
Show 4481 is not in the database.
Show 4482 is not in the database.
Show 4483 is not in the database.
Show 4484 is not in the database.
Show 4485 is not in the database.

No Double Jeopardy! questions for show 6086
No Final Jeopardy! questions for show 6086
No questions for show 6087
Show 6094 is not in the database.
Show 6299 is not in the database.
No Double Jeopardy! questions for show 6300
No Final Jeopardy! questions for show 6300

In [55]:
print('There are', len(FullShows), 'shows that have a complete set of questions.')

There are 3631 shows that have a complete set of questions.

In [22]:
import random as rand

In [ ]:
def quiz(FullShows, Difficulty):
    # Set the difficulty of the opponent
    if Difficulty == 'Easier':
        DifficultyArray = [True, True, False, False, False, False, False, False, False, False]
    elif Difficulty == 'Harder':
        DifficultyArray = [True, True, True, True, True, True, True, True, False, False]
    elif Difficulty == 'Random':
        DifficultyArray = [True, False]
    ComputerPoints = 0
    PlayerPoints = 0
    player_control = 'User'
    # Pick a random show
    show_number = FullShows[rand.randint(0,len(FullShows)-1)]
    # Filter the dataset to get the questions from each round of this show
    show_questions = all_data.loc[all_data['Show Number'] == show_number]
    # Group the dataset by round
    Round1 = show_questions.loc[show_questions['Round'] == "Jeopardy!"].reset_index()
    Round2 = show_questions.loc[show_questions['Round'] == "Double Jeopardy!"].reset_index()
    Round3 = show_questions.loc[show_questions['Round'] == "Final Jeopardy!"].reset_index()
    # Iterate by round - the first two have similar gameplay
    for r in range(0, 2):
        if r == 0: Round=Round1
        if r == 1: Round=Round2
        # Ask every question
        round_in_play = True
        while round_in_play == True:
            print(Round[['Category', 'Value']])
            if player_control == 'User':
                questionChoice = input('Select your question by entering the number on the left:   ')
            else:
                questionChoice = rand.randint(0, len(Round)-1)
            current_question = Round.iloc[[questionChoice]]
            Category = current_question.Category.item()
            Question = current_question.Question.item()
            CorrectAnswer = current_question.Answer.item()
            Value = current_question.Value.item()
            # Who chose this question?
            if player_control == 'User':
                print('You have chosen', Category, 'for', Value, 'points!')
            else:
                print('The Computer has chosen', Category, 'for', Value, 'points!')
            print(Question)
            # Answer the question
            if player_control == 'User':
                user_answer = input('Who/what is...')
                # User answers correctly
                if user_answer == CorrectAnswer:
                    PlayerPoints += Value
                    print('You have won', Value,'points!')
                # User is wrong - play goes to the computer
                else:
                    computer_answer = rand.choice(DifficultyArray)
                    # Computer answers correctly - control goes to the Computer
                    if computer_answer == True:
                        ComputerPoints += Value
                        player_control = 'Computer'
                        print('The Computer won', Value, 'points! The correct answer was',
                              CorrectAnswer + '.')
                    # Nobody answers correctly
                    else:
                        print('Nobody won. The correct answer was', CorrectAnswer)
            # Control starts with the computer
            else:
                computer_answer = rand.choice(DifficultyArray)
                # Computer answers correctly
                if computer_answer == True:
                    ComputerPoints += Value
                    print('The Computer won', Value,'points! The correct answer was', CorrectAnswer, +'.')
                # Computer is wrong
                else:
                    user_answer = input('Who/what is...')
                    # User answers correctly - control goes to the user
                    if user_answer == CorrectAnswer:
                        player_control = 'User'
                        PlayerPoints += Value
                        print('You have won', Value,'points!')
                    # Nobody answers correctly
                    else:
                        print('Nobody won. The correct answer was', CorrectAnswer)
            # Points summary
            print('The Computer has', str(ComputerPoints) + '. You have', str(PlayerPoints) +'.')
            # Question is removed from the dataset
            Round = Round.drop([Round.index[int(questionChoice)]]).reset_index(drop=True)
            if len(Round) < 1:
                round_in_play = False
                print('At the end of Round', str(r+1) + ', you have', str(PlayerPoints),
                      'and The Computer has', str(ComputerPoints) + 'points!')
    # Now in Round 3
    print('The final category is:   ', Round3.iloc[[0]].Category.item())
    user_wager = input('How much would you like to wager on knowing the answer to this question?   ')
    computer_wager = rand.randint(1, ComputerPoints)
    print ('The Computer has bet', computer_wager, 'points!')
    print('The question is:')
    print(Round3.iloc[[0]].Question.item())
    user_answer = input('Who/what is...')
    computer_answer = rand.choice(DifficultyArray)
    # User's final score
    if user_answer == Round3.iloc[[0]].Answer.item():
        PlayerPoints += user_wager
        print('You have won your wager and your final score is', PlayerPoints, 'points!')
    else:
        PlayerPoints -= user_wager
        print('You have lost your wager and your final score is', PlayerPoints, 'points!')
    # The Computer's final score
    if computer_answer == True:
        ComputerPoints += computer_wager
        print('The Computer won its wager and its final score is', ComputerPoints, 'points!')
    else:
        ComputerPoints -= computer_wager
        print('The Computer lost its wager and your final score is', ComputerPoints, 'points!')
    print('At the end of the game, you have', str(PlayerPoints), 'and The Computer has', str(ComputerPoints) + 'points!')
    if ComputerPoints > PlayerPoints:
        print('The Computer beat you! Train some more!')
    elif ComputerPoints == PlayerPoints:
        print('You drew! Ready for a rematch?')
    else:
        print('You won! Congratulations!')
quiz(FullShows, 'Easier')